@using PetitesPuces.Controllers
@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

@{
    ViewBag.SousTotal = @Model.Articles.Sum(a => a.PPProduit.PrixVente * a.NbItems);
    ViewBag.FraisLivraison = (decimal)23.00;

    bool estValide = ((ClientController)ViewContext.Controller).CheckDisponibiliteArticlesPanier(Model.Vendeur.No);
}


<div class="row">
    <div class="col-md-8" style="height: 70vh; overflow-y: auto;">
        @if (!estValide)
        {
            if (Model.DepassePoidsMaximum)
            {
                <div class="row">
                    <div class="alert alert-warning" role="alert">
                        Votre panier dépasse le poids maximal défini par le vendeur (@Formatter.Poids(Model.Vendeur.PoidsMaxLivraison))
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="alert alert-warning" role="alert">
                        Un ou plusieurs articles de votre panier n'ont pas assez de stock
                    </div>
                </div>
            }
        }


        <table class="table table-hover">
            <tbody>
            @foreach (PPArticlesEnPanier article in @Model.Articles)
            {
                @Html.Partial("Client/Panier/_ProduitsPanier", article)
            }
            </tbody>
        </table>
    </div>
    
    <div class="col-md-4">
        <button type="button" data-toggle="modal" data-target="#modalConfirmationSupprimer" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer ce panier</button>
        <br/>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Récapitulaif: </div>
            <div class="panel-body">
                <div class="h4">
                    <p class="row">
                        <div class="col-xs-7">Nombre d'items :</div>
                        <div class="col-xs-5" style="text-align: right">@Model.GetNbItems()</div></p>
                    
                    <p class="row">
                        <div class="col-xs-7">Poids total :</div>
                        <div class="col-xs-5" style="text-align: right">@Formatter.Poids(Model.GetPoidsTotal())</div></p>
                    
                    <p class="row">
                        <div class="col-xs-7">*Sous total :</div>
                        <div class="col-xs-5">@Formatter.Money(Model.getPrixTotal())</div></p>

                    <div class="row">
                        <div class="col-xs-12"><small>*Des frais de livraisons et taxes peuvent s'appliquer</small></div>
                        <br/><hr/>
                    </div>
                    @if (Model.EstEnRabais)
                    {
                        <div class="row" style="padding-right: 5px; padding-left: 5px">
                            <div class="alert alert-info" role="alert">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span style="font-size: 30px" class="glyphicon glyphicon-info-sign text-center"></span>
                                    </div>
                                    <div class="col-xs-10">
                                        <p>Vous épargner @Formatter.Money(Model.GetPrixSauveRabais(), false)</p>
                                        <small style="color: white">Si vous acheter avant le @Model.DateRabais.ToShortDateString()</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (estValide)
                {
                    <button title="Poids maximal dépassé" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationCommande">
                        <span class="glyphicon glyphicon-send"></span> Passer la commande
                    </button>
                }
                else
                {
                    <button id="btnError" disabled type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> Passer la commande
                    </button>
                }
            </div>
        </div>
        @Html.Partial("Client/InformationVendeur",Model)
    </div>
</div>

<!-- Modal pour supprimer panier -->
<div class="modal fade" id="modalConfirmationSupprimer" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationSupprimer" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer ce panier?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" type="button" onclick="supprimerPanier(@Model.Vendeur.NoVendeur)" class="btn btn-primary">Supprimer</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal confirmation -->
<div class="modal fade" id="confirmationCommande" tabindex="-1" role="dialog" aria-labelledby="confirmationCommande" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir commander ces articles?</p>
                <br/><p>Vous aurez la chance d'annuler la commande passé ce point.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" onclick="location.href = '@Url.Action("Commande", "Client",new RouteValueDictionary(new { id = Model.Vendeur.NoVendeur }))'" class="btn btn-primary">Continuer</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load",function(){
        $('#Panier'+@Model.Vendeur.NoVendeur).first().addClass("Current");
    },false);
    //tooltip
    
    tippy('#btnError',{
        animation: 'scale',
        duration: [800, 500],
        delay: [0,200],
        content:"<h5><spoan class='glyphicon glyphicon-alert'></span> Veuillez vérifier tous les articles de votre panier</h5>",
        size: "large",
        theme: "google",
        placement: "bottom",
        arrow: true,
        allowHTML: true,
    });

    function contacter(no) {
        const Objet = "Information sur mon panier";
        const DescMsg = "J'ai une petite question sur mon panier";
        const destinataire = [no];
        
        const message = {
            'DescMsg':DescMsg,
            'objet':Objet,
            'destinataires':destinataire
        }
        Courriel.enregistrerMessage(message,redirigerModuleCourriel);
    }
    function redirigerModuleCourriel(msg) {
        Courriel.redirigerVersMessage(msg);
    }
</script>