@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPArticlesEnPanier
<tr style="height: 10vh; max-height: 10vh" onclick="visualiser(@Model.NoProduit)">
    <td>
        <div class="row">
            <div class="col-xs-1">
                <img src="@Url.Content("/images/produits/" + Model.PPProduit.Photo)" onerror="this.src = 'https://placehold.it/150x80?text=IMAGE';" class="img-responsive" style="max-width: 100%; max-height: 100%" alt="Image">

            </div>
            <div class="col-xs-2">
                <div class="row">
                    <p>@Model.PPProduit.Nom</p>
                </div>
            </div>
            <div class="col-xs-1">
                <p>@Formatter.Poids(Model.PPProduit.Poids)</p>
            </div>
            <div class="col-xs-2">
                <p>@Formatter.PrixProduitAvecVente(Model.PPProduit)</p>
            </div>
            <div class="col-xs-2">
                <div class="row quantity">
                    <button class="btn btn-link" type="button" name="button" onclick="moinsQuantite(@Model.PPProduit.NoProduit, @Model.PPProduit.NoVendeur)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>&nbsp;
                    <lable type="text" style="width: 30%;" pattern="\d*" name="name" value="@Model.NbItems" width="50px" id="@Model.PPProduit.NoProduit"> @Model.NbItems </lable>
                    &nbsp;<button class="btn btn-link" type="button" name="button" onclick="plusQuantite(@Model.PPProduit.NoProduit, @Model.PPProduit.NoVendeur)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="row">
                    @{
                        string id = "Erreur" + Model.NoProduit;
                        if (Model.PPProduit.Disponibilité != true)
                        {
                            
                            <span class="label label-warning" id="@id">Le produit n'est plus disponible</span>
                        }
                        else if (Model.PPProduit.NombreItems< Model.NbItems)
                        {
                            <span class="label label-warning" id="@id">Il n'y a que @Model.PPProduit.NombreItems items en stock</span>
                        }
                        else
                        {
                            <span class="label label-warning" id="@id"></span>
                        }
                    }

                </div>
            </div>
            <div class="col-xs-2">
                <p></p>

                <p>@Formatter.Money(@Model.PPProduit.GetPrixCourant() * @Model.NbItems)</p>

            </div>
            
            <div class="col-xs-1">
               
                <a class="btn btn-link btn-lg" style="color: red" title="Retirer du panier" onclick="supprimerArticles(@Model.PPProduit.NoProduit, @Model.PPProduit.NoVendeur)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </td>
</tr>
