@model PetitesPuces.Models.PPVendeur

@{
    ViewBag.Title = "_DemandeVendeur";
}

<tr class="v-align-middle">
    <th >
        @Html.DisplayFor(model => model.NoVendeur)
    </th>

    <td>
        @Html.DisplayFor(model => model.NomAffaires)
    </td>

    <td>
        @Html.DisplayFor(model => model.Prenom)
    </td>

    <td>
        @Html.DisplayFor(model => model.Nom)
    </td>

    <td>
        @Html.DisplayFor(model => model.DateCreation)
    </td>
    <td class="text-right">
        <form class="form-inline">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalGestion">
                <i class="glyphicon glyphicon-ok v-align-middle"></i>
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetails">
                <i class="glyphicon glyphicon-info-sign v-align-middle"></i>
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalGestion">
                <i class="glyphicon glyphicon-remove v-align-middle"></i>
            </button>
        </form>
    </td>
</tr>
