@model PetitesPuces.Models.PPVendeur


<form>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Prenom</label>
            <input type="text" disabled value="@Model.Prenom" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">Nom</label>
            <input type="text" disabled value="@Model.Nom" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Courriel</label>
            <input type="text" class="form-control" disabled value="@Model.AdresseEmail"  id="inputEmail4" placeholder="Courriel">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Téléphone 1</label>
            <input type="text" class="form-control" disabled value="@Model.Tel1" id="inputPassword4" placeholder="Telephone">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Adresse</label>
            <input type="text" disabled value="@Model.Rue" class="form-control" id="inputEmail4" placeholder="Adresse">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Téléphone 2</label>
            <input type="text" class="form-control" disabled value="@Model.Tel2" id="inputPassword4" placeholder="Aucun">
        </div>
    </div>
    <div class="row d-flex align-content-center">
        <div class="form-group col-md-6">
            <label for="inputCity">Ville</label>
            <input type="text" class="form-control" disabled value="@Model.Ville" id="inputCity">
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Province</label>
            <select disabled id="inputState" class="form-control">
                <option selected>@Model.Province</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Code Postal</label>
            <input disabled type="text" value="@Model.CodePostal" class="form-control" id="inputZip">
        </div>
    </div>
</form>
