@using System.Linq
@using PetitesPuces.Controllers
@using PetitesPuces.Models
@model Tuple<int, PetitesPuces.Controllers.GestionnaireController.TypesModal>
@{
    const string DEFAUT_DETAILS = "Si vous ne modifiez rien, un message par défaut sera envoyé selon votre décision";
    const string DEFAULT_ACCEPT = "Bonjour,\n" +
                                  "\n" +
                                  "Il me fait plaisir de vous annoncer que votre demande de compte vendeur a été acceptée!\n" +
                                  "\n" +
                                  "Vous pourrez dorénavant vendre vos produit sur notre avec un taux de redevances de X%.\n" +
                                  "\n" +
                                  "Merci d'avoir choisi \"Les Petites Puces\"";
    const string DEFAULT_REFUSER = "Bonjour,\n" +
                                   "\n" +
                                   "Je regrette de vous informer que votre demande a été refusée.\n" +
                                   "\n" +
                                   "Merci d'avoir choisi \"Les Petites Puces\"";

    string MSG_DEFAUT = "";
    switch (@Model.Item2)
    {
        case GestionnaireController.TypesModal.DETAILS:
            MSG_DEFAUT = DEFAUT_DETAILS;
            break;
        case GestionnaireController.TypesModal.ACCEPTER:
            MSG_DEFAUT = DEFAULT_ACCEPT;
            break;
        case GestionnaireController.TypesModal.REFUSER:
            MSG_DEFAUT = DEFAULT_REFUSER;
            break;
    }
}
<input id="accepterDefault" type="hidden" value="@DEFAULT_ACCEPT" />
<input id="refuserDefault" type="hidden" value="@DEFAULT_REFUSER" />
<div class="modal-header">
    @{
        var ctx = new BDPetitesPucesDataContext();
        PPVendeur vendeur = (from v in ctx.PPVendeurs where v.NoVendeur == @Model.Item1 select v).First();
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Demande d'ouverture de: @vendeur.NomAffaires</h4>
</div>
<div class="modal-body">
    @if (@Model.Item2 == GestionnaireController.TypesModal.DETAILS)
    {
        @Html.Partial("Gestionnaire/Demandes/_DetailsVendeur", vendeur)
        <hr />
    }
    @if (@Model.Item2 != GestionnaireController.TypesModal.REFUSER)
    {
        <div class="row text-center">
            <div class="form-inline">
                <label for="tbPctRedevances">Redevances: </label>
                <div class="input-group">
                    <input required class="form-control" type="number" min="0" value="5" max="50"  name="redevances" id="tbPctRedevances" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <hr />
    }
    <div class="row text-center">
        <label for="tbMsg">Inscrire un message à envoyer au vendeur</label>
        @if (Model.Item2 == GestionnaireController.TypesModal.DETAILS)
        {
            <textarea required id="tbMsg" class="center-block text-left w-100" placeholder="@MSG_DEFAUT" rows="10" cols="90"></textarea>
        }
        else
        {
            <textarea required id="tbMsg" class="center-block text-left w-100" rows="10" cols="90">@MSG_DEFAUT</textarea>
        }
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="form-inline text-center">
            @if (Model.Item2 == GestionnaireController.TypesModal.ACCEPTER)
            {
                <button id="btnAccepterDemande" class="btn btn-success mr-1">
                    Confirmer l'ajout
                </button>
            }

            @if (Model.Item2 == GestionnaireController.TypesModal.REFUSER)
            {
                <button id="btnRefuserDemande" class="ml-1 btn btn-danger">
                    Confirmer le refus
                </button>
            }

            @if (Model.Item2 == GestionnaireController.TypesModal.DETAILS)
            {
                <button id="btnAccepterDemande" class="btn btn-success mr-1">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button id="btnRefuserDemande" class="ml-1 btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            }
        </div>
    </div>
</div>
