@using PetitesPuces.Models
@model List<PPVendeur>

@if (Model.Count > 0)
{
    <table class="table lst-vendeurs mt-2 bg-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NoVendeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NomAffaires)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DateCreation)
                </th>
                <th>
    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendeur in Model)
            {
                @Html.Partial("Gestionnaire/Demandes/_DemandeVendeur", vendeur)
            }
        </tbody>
    </table>
}
else
{
    <h4 class="row text-center">Aucune demande de vendeur</h4>
}

