@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPMessage

@{
    var ctxt = new BDPetitesPucesDataContext();
    var id = Model.NoExpediteur;
                
    var gestionnaires = (from util
        in ctxt.PPGestionnaires
        where util.NoGestionnaire == id
        select util).ToList();
                
    var vendeurs = (from util
        in ctxt.PPVendeurs
        where util.NoVendeur == id
        select util).ToList();
                
    var clients = (from util
        in ctxt.PPClients
        where util.NoClient == id
        select util).ToList();
    
    IUtilisateur expediteur = clients.Concat<IUtilisateur>(vendeurs).Concat<IUtilisateur>(gestionnaires).FirstOrDefault();  
}
<div class="panel panel-default">
<div class="panel-body">
    <div class="btn-group">
        <button type="button" onclick="retour();" class="btn btn-info" ><span class="glyphicon glyphicon-menu-left"></span> Retour</button>
        <button type="button" onclick="repondre(@Model.NoMsg);" class="btn btn-info" ><span class="glyphicon glyphicon-share-alt"></span> Répondre</button>
        <button type="button" onclick="loadModalDestinataire();" class="btn btn-info" ><span class="glyphicon glyphicon-transfer"></span> Transférer</button>
        <button type="button" onclick="supprimerCourriel(@Model.NoMsg);" class="btn btn-info" ><span class="glyphicon glyphicon glyphicon-trash"></span> Supprimer</button>
        <button type="button" onclick="marquerNonLu(@Model.NoMsg);" class="btn btn-info" ><span class="fas fa-envelope"></span> Marquer comme non-lu</button>
    </div>
    <h2 id="objet">@Model.objet</h2>
    <hr/>
    <h5 style="width: 100%"><span>Envoyé par : @expediteur.DisplayName</span><span class="pull-right">@Model.dateEnvoi</span></h5>
    <div class="well">
        @Model.DescMsg.ToHtml()
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalAjoutDestinataire" tabindex="-1" role="dialog" aria-labelledby="modalAjoutDestinataire" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="ModalDestinatairePLACEHOLDER">

            </div>
        </div>
    </div>
</div>
</div>

<script>
    var LIEU_BROUILLON = 4;
    
    function supprimerCourriel(id) {
        $.ajax({
            url: URLPATH + "/Courriel/Supprimer",
            type: "DELETE",
            data: {
                NoCourriel : id
            }, 
            success: function(result) {
                loadBoiteReception();
            },
            error: function(req, status, err) {
                loadBoiteReception();
            }
        });
    }
    function redirectComposer(NoMessage) {
        loadBrouillon(NoMessage);
    }
    //Repondre
    function repondre(No) {
        saveBrouillonReponse(No,redirectComposer);
    }
    function saveBrouillonReponse(No,callback) {
        const destinataires = lstDestinataires.map(e => e.No);
        console.log(destinataires)
        $.ajax({
            url: URLPATH + '/Courriel/EnregistrerReponse',
            type: 'POST',
            data: {
                noCourriel : No
            },
            success: (data) => {
                callback(data);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    //Transferer   
    function afficherDestinataire() {
        saveBrouillonTransfer(redirectComposer);
    }
    function saveBrouillonTransfer(callback) {
        const destinataires = lstDestinataires.map(e => e.No);
        console.log(destinataires)
        $.ajax({
            url: URLPATH + '/Courriel/EnregistrerTransfer',
            type: 'POST',
            data: {
                noCourriel : @Model.NoMsg,
                destinataires :destinataires
            },
            success: (data) => {
                callback(data);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadModalDestinataire() {
        $("#modalAjoutDestinataire").modal();
        $.ajax({
            url: URLPATH + "/Courriel/Destinataire",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                /** @@type{Object<>[]} */
                lstDestinatairesTemp = [];
                $('#ModalDestinatairePLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    
    function retour() {
        loadBoiteReception();
    }
    function marquerNonLu(id) {
        $.ajax({
            url: URLPATH + "/Courriel/MarquerNonLu",
            type: "POST",
            data: {
                NoCourriel : id
            }
        });
    }
    //transferer

</script>