@using PetitesPuces.Models
@model PetitesPuces.ViewModels.Courriel.DestinataireViewModel
<style>
    .sca {
        max-height: 50vh; height: 50vh; overflow-y: scroll;
    }
</style>
<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <h3>Vendeurs</h3>
                <input type="text" class="form-control" id="filterVendeur"/>
                <div class="sca">
                    <table id="tableVendeur" class="table table-hover">
                        @foreach (PPVendeur vendeur in Model.Vendeurs)
                        {
                            <tr id="@vendeur.NoVendeur">
                                <td>
                                    <p>@vendeur.NomAffaires</p>
                                </td>
                                <td>
                                    <a onclick="ajouterDestinataireVendeur(@vendeur.NoVendeur, `@vendeur.NomAffaires`);"><span class="glyphicon glyphicon-plus pull-right"></span></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Clients</h3>
                <input type="text" class="form-control" id="filterClient"/>
                <div class="sca">                  
                    <table id="tableClient" class="table table-hover">
                        @foreach (PPClient client in Model.Clients)
                        {
                            <tr id="@client.NoClient">
                                <td>
                                    <p>@client.Nom, @client.Prenom</p>
                                </td>
                                <td>
                                    <a onclick="ajouterDestinataireClient(@client.NoClient, `@client.Nom, @client.Prenom`);"><span class="glyphicon glyphicon-plus pull-right"></span></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <h3>Destinataires</h3>
            <div class="col-lg-4">
                <div style="height: 50vh" class="well sca">
                    <table id="tableDestinataire" class="table table-hover">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="viderListe()" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="ConfirmerAjout()">Ajouter</button>
    </div>
</div>
<script>
    function ConfirmerAjout() {
        lstDestinatairesTemp.forEach(function(obj) {
            let str = `<span style="background-color: #adadad;" class="badge badge-primary" id="Dest${obj.No}">${obj.Nom}<a onclick="retirerDestinataire(${obj.No},'${obj.Nom.replace(/'/g, "\\'")}')" class="glyphicon glyphicon-remove"></a></span>&nbsp;`;
            $("#destinataire").append(str);
        }); 
        $('#modalAjoutDestinataire').modal('hide');
        lstDestinataires = lstDestinataires.concat(lstDestinatairesTemp);
    }
    function viderListe() {
        
    }
    function ajouterDestinataireClient(no, nom) {
        let desinataire = { No : no, Nom : nom };
        lstDestinatairesTemp.push(desinataire);
        $('#'+no).remove();
        var table = $('#tableDestinataire');
        table.append("<tr id='"+no+"'>" +
            "<td>" + nom + `</td><td><a onclick='retirerDestinataireClient(${no},"${nom.replace(/'/g, "\\'")}")';>` +
            "<span style='color:red;' class='glyphicon glyphicon-minus pull-right'></span></a></td>" +
            "</tr>");

        console.log(lstDestinatairesTemp);
    }
    function ajouterDestinataireVendeur(no, nom) {
        let desinataire = { No : no, Nom : nom };
        lstDestinatairesTemp.push(desinataire);
        $('#'+no).remove();
        var table = $('#tableDestinataire');
        table.append("<tr id='"+no+"'>" +
            "<td>" + nom + `</td><td><a onclick="retirerDestinataireVendeur(${no},'${nom.replace(/'/g, "\\'")}')";>` +
            "<span style='color:red;' class='glyphicon glyphicon-minus pull-right'></span></a></td>" +
            "</tr>");
        
        console.log(lstDestinatairesTemp);
    }
    function retirerDestinataireClient(no, nom) {
        let desinataire = { No : no, Nom : nom };     
        let index = lstDestinatairesTemp.indexOf(desinataire);
        lstDestinatairesTemp.splice(index-1, 1);
        $('#'+no).remove();
        var table = $('#tableClient');
        table.append("<tr id='"+no+"'>" +
            "<td>" + nom + `</td><td><a onclick='retirerDestinataireVendeur(${no},"${nom}")';>` +
            "<span class='glyphicon glyphicon-plus pull-right'></span></a></td>" +
            "</tr>");
        
        console.log(lstDestinatairesTemp);
    }
    function retirerDestinataireVendeur(no, nom) {
        let desinataire = { No : no, Nom : nom };     
        let index = lstDestinatairesTemp.indexOf(desinataire);
        lstDestinatairesTemp.splice(index-1, 1);
        $('#'+no).remove();
        var table = $('#tableVendeur');
        table.append("<tr id='"+no+"'>" +
            "<td>" + nom + `</td><td><a onclick='ajouterDestinataire(${no},'${nom}')';>` +
            "<span class='glyphicon glyphicon-plus pull-right'></span></a></td>" +
            "</tr>");
        
        console.log(lstDestinatairesTemp);
    }
    $(document).ready(function () {
        $("#filterClient").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tableClient tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $("#filterVendeur").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tableVendeur tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>