@using PetitesPuces.Securite
<!--
.____                   __________        __  .__  __                  
|    |    ____   ______ \______   \ _____/  |_|__|/  |_  ____   ______ 
|    |  _/ __ \ /  ___/  |     ___// __ \   __\  \   __\/ __ \ /  ___/ 
|    |__\  ___/ \___ \   |    |   \  ___/|  | |  ||  | \  ___/ \___ \  
|_______ \___ / ____ /   |____|    \___  |__| |__||__|  \___   ____ / 
        

__________                            
\______   \__ __   ____  ____   ______
|     ___/  |  \_/ ___\/ __ \ /  ___/
|    |   |  |  /\  \__\  ___/ \___ \ 
|____|   |____/  \___ / ___  /____ /
          
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Les Petites Puces</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    
    <script type="text/javascript" src="@Url.Content("/Scripts/constant.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Les petites puces", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("navbar", false)
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (SessionUtilisateur.UtilisateurCourant != null)
                    {
                        <li>@Html.ActionLink("Bienvenue, " + SessionUtilisateur.UtilisateurCourant.Prenom + "!", "Profil", "Client")</li>
                        <li><a href="@Url.Action( "Deconnexion", "Home")"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action( "Connexion", "Home")"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                    }
                    
                </ul>
            </div>

        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <hr />
<footer class="container">
    <p>&copy @DateTime.Now.Year - Les petites puces</p>
</footer>
</body>
</html>
