@using System.Drawing
@using PetitesPuces.Models
@model PetitesPuces.Models.PPCategory

<div class="item" style="text-overflow: ellipsis;" id="@("Cat" + @Model.NoCategorie)">
    <div class="pad15" style="max-height: 150px; min-height: 150px; background-color: #2c3e50; color: white;">
        <p><span class="lead">@Model.Description</span> <sup>(@Model.PPProduits.Count)</sup></p>
        
    </div>
</div>
<script>
    //tooltip
    tippy('#@("Cat"+@Model.NoCategorie)',{
        duration: [800, 500],
        delay: [0,200],
        content:"<p style='max-width:170px'>@Model.Details</p>",
        size: "large",
        theme: "google",
        placement: "bottom",
        arrow: true,
        allowHTML: true,
    });
</script>