@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPProduit

<div class="col-xs-12 col-sm-3 col-md-3"> 
    <div class="panel panel-primary">
        <div class="panel-footer"><p style="overflow: hidden;text-overflow: ellipsis;">@Model.Nom</p></div>
        <div class="panel-body" style="height: 30vh">
            <img src="@Url.Content("/images/produits/" + Model.Photo)" onerror="this.src = 'https://placehold.it/150x80?text=IMAGE';" class="img-responsive" style="width: 100%; max-height: 60%" alt="Image">
            <div class="h3">
                @Formatter.Money(@Model.PrixVente)
            </div>
            <h3><span class="label label-warning">Nouveau</span></h3>
        </div>
        <div class="panel-footer">Vendeur : @Model.PPVendeur.Nom</div>
    </div>
</div>