@model PetitesPuces.Models.CatalogueViewModel

@{
    ViewBag.Title = "Catalogue";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Client")</li>
    <li>@Html.ActionLink("Catalogue", "Catalogue", "Client")</li>
    <li>@Html.ActionLink("Mon Panier", "MonPanier", "Client")</li>
}

@section scripts {
    <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
}


<div class="container-fluid">
    <br/>
    <div class="">
        <div class="MultiCarousel" data-items="8,10,8,11" data-slide="10" id="CarouselProduits" data-interval="700">
            <div class="MultiCarousel-inner">
                @for (var i = 0; i <= 25; i++)
                {
                    @Html.Partial("Client/_VendeurCarousel", i)
                }

            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-2" style="border-right: 1px solid #333; ">
            <div style="position: static;">
                <div class="item">
                    <div class="panel-footer"><h4>Recherche :</h4></div>
                    <div class="panel-body">
                        <input class="form-control" style="width: 100%" type="text" name="search">
                    </div>
                    
                    <div class="panel-footer"><h4>Tri :</h4></div>
                    <div class="panel-body">
                        <select class="form-control">
                            @for (var i = 1; i <= 5; i++)
                            {
                                <option value="@i">Option @i</option>
                            }
                        </select>
                    </div>
                    
                    <div class="panel-footer">
                        <h4>Catégories :</h4></div>
                    <div class="panel-body" style="height: 40vh; overflow: auto;">
                        @for (var i = 1; i <= 40; i++)
                        {
                            <p><a href=".">Catégorie @i (@i)</a></p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2>&nbsp; Catalogue de @ViewBag.Vendeur</h2>
                @foreach (var produits in Model.Produits)
                {
                    @Html.Partial("Client/_Produits", produits)
                }
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
