@using PetitesPuces.Models
@model PetitesPuces.Models.CatalogueViewModel

@{
    ViewBag.Title = "Catalogue";
}

@section styles
{
    <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
    <link href="@Url.Content("/Content/Shared/Hover.css")" rel="stylesheet" id="Hover-css">
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
}

<div class="container-fluid">
    <br/>
    <div class="row ">
        <div class="MultiCarousel" data-items="1,3,5,8" data-slide="3" id="CarouselProduits" data-interval="700">
            <div class="MultiCarousel-inner">
                <div id="@("Vendeur-1")" class="item div_hover" style="cursor: pointer" onclick="updateListeProduits('-1')">
                    <div style="height: 15vh; max-height: 15vh;background-color: #2c3e50; color: white">    
                        <div class="">
                            <p style="line-height: 2.0;">Tous les vendeurs</p>
                            <hr/>
                            <p>@Model.Categories.Sum(c=>c.PPProduits.Count(p => p.Disponibilité==true)) items </p>
                        </div>
                    </div>
                </div>

                @foreach (PPVendeur vendeur in @Model.Vendeurs.Where(v=>v.Statut==1))
                {
                    @Html.Partial("Client/Catalogue/_VendeurCarousel", vendeur)
                }

            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
    
    <div id="partialListeProduits">
        @Html.Partial("Client/Catalogue/_Catalogue", @Model)
    </div>
</div>



<div class="modal fade" id="ModalDescription" tabindex="-1" role="dialog" aria-labelledby="ModalDescription" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="PLACEHOLDERModalDescription">
            
        </div>
    </div>
</div>