@using PetitesPuces.Utilities

@{
    ViewBag.Title = "Commander";
    ViewBag.SousTotal = 234.23;
    ViewBag.FraisLivraison = 25.00;
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Client")</li>
    <li>@Html.ActionLink("Catalogue", "Catalogue", "Client")</li>
    <li>@Html.ActionLink("Mon Panier", "MonPanier", "Client")</li>
}

@section scripts {
    <link href="@Url.Content("/Content/Client/Commande.css")" rel="stylesheet" id="Commande-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Client/Commande.js")"></script>
}
<div class="jumbotron">
    <div class="container">
        <ul class="progressbar">
            <li id="Information">Information</li>
            <li id="Livraison">Livraison</li>
            <li id="Paiement">Paiement</li>
            <li id="Confirmation">Confirmation</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (@ViewBag.Etape == "Information")
            {
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Courriel</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Courriel">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Téléphone 1</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Adresse</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Adresse">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Téléphone 2</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Ville</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Province</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Code Postal</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12"><hr/></div>
                        <div class="col-md-4 col-lg-offset-5">
                            <button type="button" class="btn btn-danger"onclick="location.href = '@Url.Action("Catalogue", "Client")'">Retour</button>
                            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Livraison"}))'">Continuer</button>
                        </div>
                    </div>
                </form>
            }
            else if (@ViewBag.Etape == "Livraison")
            {
                <form>
                    <div class="form-row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="radio">
                                <label><input type="radio" name="optradio" checked>Poste régulière</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Poste prioritaire</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Compagnie de livraison</label>
                            </div>
                            <hr/>
                            <div>
                                <h4>Frais de livraison : @Formatter.Money(23.00)</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><hr/></div>
                        <div class="col-md-4 col-lg-offset-5">
                            <button type="button" class="btn btn-danger"onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Information"}))'">Retour</button>
                            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Paiement"}))'">Continuer</button>
                        </div>
                    </div>
                </form>
            }
            else if (@ViewBag.Etape == "Paiement")
            {
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nom sur la carte </label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nom">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">No de carte</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="XXXX XXXX XXXX XXXX">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Expiration</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="MM/AA">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">CVV</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="XXX">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><hr/></div>
                        <div class="col-md-4 col-lg-offset-5">
                            <button type="button" class="btn btn-danger"onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Livraison"}))'">Retour</button>
                            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Confirmation"}))'">Continuer</button>
                        </div>
                    </div>
                </form>
            }
            else if (@ViewBag.Etape == "Confirmation")
            {
                <div class="row">
                    <div class="col-md-4 col-lg-offset-5">
                        <button type="button" class="btn btn-danger"onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Paiement"}))'">Retour</button>
                        <button type="button" class="btn btn-primary">Confirmer</button>
                    </div>
                </div>
            }
        </div>
        <br/>
        <div class="col-md-3">
            
            <div class="panel panel-primary">
                <div class="panel-heading">Récapitulaif (2 articles): </div>
                <div class="panel-body">
                    <div class="h4">
                        <p class="row">
                            <div class="col-xs-6">Articles :</div>
                            <div class="col-xs-6">@Formatter.Money(ViewBag.SousTotal)</div></p>
                        <p class="row">
                            <div class="col-xs-6">Livraison :</div>
                            <div class="col-xs-6"> @Formatter.Money(ViewBag.FraisLivraison)</div></p>

                        <div class="row">
                            <br/><hr/>
                        </div>

                        <p class="row">
                            <div class="col-xs-6">Sous total:</div>
                            <div class="col-xs-6"> @Formatter.Money(ViewBag.SousTotal + ViewBag.FraisLivraison)</div></p>
                        <p class="row">
                            <div class="col-xs-6">TPS :</div>
                            <div class="col-xs-6"> @Formatter.Money((ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.05)</div></p>
                        <p class="row">
                            <div class="col-xs-6">tvq :</div>
                            <div class="col-xs-6"> @Formatter.Money((ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.09975)</div></p>

                        <div class="row">
                            <br/><hr/>
                        </div>

                        <p>Montant total: @Formatter.Money(ViewBag.SousTotal + ViewBag.FraisLivraison + (ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.05 + (ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.09975)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    window.onload = function() {
        
        $('#@ViewBag.Etape').addClass('active');
    };
</script>