@using PetitesPuces.Models
@using PetitesPuces.Securite
@model PetitesPuces.Models.AccueilViewModel
@{
    ViewBag.Title = "Accueil";
}
@section scripts {
    <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
    <link href="@Url.Content("/Content/Shared/Hover.css")" rel="stylesheet" id="Hover-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
}
<br/>
<br/>
<div class="container">
    @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage)) {

        <p class="pagination pagination-lg label label-info">@ViewBag.SuccessMessage</p>

    }
   
    @Html.Partial("_CarouselPublicitaire")
    @if (ViewBag.Status == "ModificationReussite")
    {
        <div class="alert alert-info text-center" role="alert" style="margin: 20px;">
            Modification profil réussite!
        </div>
    }
    <div class="row">
        <h2>Mes paniers</h2>
        @if (Model.Paniers.Count > 0)
        {
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="5" id="CarouselPaniers" data-interval="1000">
                <div class="MultiCarousel-inner">
                    @foreach (Panier pan in @Model.Paniers)
                    {
                        @Html.Partial("Client/_PaniersCarousel", pan)
                    }

                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        }
        else
        {
            <div class="well text-center" role="alert">
                <h5>Vous n'avez aucun panier</h5>
            </div>
        }

        <h2>Mes commandes</h2>
        @if (Model.Commandes.Count > 0)
        {
            foreach (PPCommande commande in @Model.Commandes.OrderByDescending(c=>c.DateCommande))
             {
                @Html.Partial("Client/Accueil/_Commande",commande)    
             }
        }
        else
        {
            <div class="well text-center" role="alert">
                <h5><span class="glyphicon glyphicon-unchecked"></span> Vous n'avez aucune commande</h5>
            </div>
        }
    </div>
</div>

<script>
    function changePanier(no) {
        window.location.href = `@Url.Action("MonPanier", "Client")?No=${no}`;
    }
    function afficherCommande(no) {
        window.location.href = `@Url.Action("Recu", "Client")?noCommande=${no}`;
    }
    function ouvrirPdf(id) {
        $.ajax({
            url: URLPATH +"/PDF/GenererPDF",
            type: "get",
            data: {
                "id" : id
            },
            success: function (result) {
                window.open(`@Url.Action("InfoCommande", "PDF")/${id}`);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html(" @Html.Partial("_ErrorAlert")");
            }
        });
    }
</script>
