@using PetitesPuces.Utilities
@model PetitesPuces.Models.CatalogueViewModel

@{
    ViewBag.Title = "Vos paniers";
    ViewBag.Vendeur = "Simon";
    ViewBag.SousTotal = 323.45;
    ViewBag.FraisLivraison = 23.00;
}
@section scripts {
    <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
    <link href="@Url.Content("/Content/Shared/Hover.css")" rel="stylesheet" id="Hover-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
}
<script>
    function plusQuantite(id) {
        $("#" + id).val(parseInt($("#" + id).val())+1);
    }
    function moinsQuantite(id) {
        if($("#" + id).val()>=1)
            $("#" + id).val(parseInt($("#" + id).val())-1);
    }
</script>
<style>
    .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Vos paniers</h2>
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="5" id="CarouselPaniers" data-interval="1000">
            <div class="MultiCarousel-inner">
                @for (var i = 0; i <= 25; i++)
                {
                    @Html.Partial("Client/_PaniersCarousel")
                }

            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-8" style="height: 70vh;
                                       overflow: auto;">
        <table class="table table-hover">
            <tbody>
            @for (var i = 10; i < 40; i++)
            {
                @Html.Partial("Client/_ProduitsPanier", i)
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <button class="btn btn-danger">Supprimer ce panier</button>
        <br/>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Récapitulaif (2 articles): </div>
            <div class="panel-body">
                <div class="h4">
                    <p class="row">
                        <div class="col-xs-6">Articles :</div>
                        <div class="col-xs-6">@Formatter.Money(ViewBag.SousTotal)</div></p>
                    <p class="row">
                        <div class="col-xs-6">Livraison :</div>
                        <div class="col-xs-6"> @Formatter.Money(ViewBag.FraisLivraison)</div></p>

                    <div class="row">
                        <br/><hr/>
                    </div>

                    <p class="row">
                        <div class="col-xs-6">Sous total:</div>
                        <div class="col-xs-6"> @Formatter.Money(ViewBag.SousTotal + ViewBag.FraisLivraison)</div></p>
                    <p class="row">
                        <div class="col-xs-6">TPS :</div>
                        <div class="col-xs-6"> @Formatter.Money((ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.05)</div></p>
                    <p class="row">
                        <div class="col-xs-6">tvq :</div>
                        <div class="col-xs-6"> @Formatter.Money((ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.09975)</div></p>

                    <div class="row">
                        <br/><hr/>
                    </div>

                    <p class="row">             
                        <div class="col-xs-6">Montant total:</div> 
                        <div class="col-xs-6">@Formatter.Money(ViewBag.SousTotal + ViewBag.FraisLivraison + (ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.05 + (ViewBag.SousTotal + ViewBag.FraisLivraison) * 0.09975)</div> 
                    </p>
                    <br/>    
                </div>

                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationCommande">
                    Passer la commande
                </button>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">Informations sur le vendeur: </div>
            <div class="panel-body">
                <div class="h4">
                    <p><a href="@Url.Action("Catalogue", "Client", new RouteValueDictionary(new { Vendeur= @ViewBag.Vendeur }))">@ViewBag.Vendeur</a></p>
                    <p>Membre depuis 2015</p>

                    <hr/>

                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@Html.Partial("_ModalConfirmation",new HtmlString("<p>Êtes-vous sûr de vouloir commander ces articles?</p><br/><p>Vous aurez la chance de annuler la commande passé ce point.</p>"))
