@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model List<PetitesPuces.Models.Panier>


@section scripts {
    <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
    <link href="@Url.Content("/Content/Shared/Hover.css")" rel="stylesheet" id="Hover-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Courriel/CourrielLib.js")"></script>
}
<script>
    function plusQuantite(id) {
        
        
    }
    function moinsQuantite(id) {
        if($("#" + id).val()>=1)
            $("#" + id).val(parseInt($("#" + id).val())-1);
    }
</script>
<div class="well">
    <div class="container">
        <h2>Mes paniers</h2>
        @if (Model.Count > 0)
        {
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="5" id="CarouselPaniers" data-interval="1000">
                <div class="MultiCarousel-inner">
                    @foreach (Panier p in Model)
                    {
                        @Html.Partial("Client/_PaniersCarousel", p)
                    }

                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        }
    </div>
</div>
<div class="container">
    <div id="PLACEHOLDERDetailPanier">
        @if (Model.Count > 0)
        {
                    
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Vous n'avez aucun panier
            </div>
        }
    </div>
</div>
<div class="modal fade" id="ModalDescription" tabindex="-1" role="dialog" aria-labelledby="ModalDescription" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="PLACEHOLDERModalDescription">
            
        </div>
    </div>
</div>
@if (Model.Count > 0)
{      
    <script>
        window.addEventListener("load",function() {
            changePanier(@ViewBag.NoVendeur);
        },false);
    </script>
}
<script>
    function changePanier(no) {
        $.ajax({
            url: URLPATH+"/Client/DetailPanier",
            type: "get",
            data: { 
                "NoVendeur": no
            },
            success: function (result) {
                $("#PLACEHOLDERDetailPanier").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERDetailPanier").html("@Html.Partial("_ErrorAlert")");
            }
        });
        $('.Current').removeClass("Current");
        $('#Panier'+no).first().addClass("Current");
        
        var PARAMS = "/Client/MonPanier/"+no;
        var objParams = {
            No:no
        }
        history.pushState(objParams, "", PARAMS);
    }
    function plusQuantite(id, noVendeur) {
        event.stopPropagation();
        $.ajax({
            url: URLPATH+"/Client/ModifierQuantite",
            type: "get",
            data: { 
                "NoProduit": id,
                "NoVendeur": noVendeur,
                aAugmenter: true
            },
            success: function (result) {
                $("#PLACEHOLDERDetailPanier").html(result);
            },
            error: function (req, status, err) {
                var strErreure = "Une erreure est survenue";
                switch (err) {
                case "Conflict":
                    strErreure = "L'item n'a pas assez de stock";
                    break;
                }
  
                $("#Erreur"+id).html(strErreure);
            }
        });
        
    }
    function moinsQuantite(id, noVendeur) {
        event.stopPropagation();
        $.ajax({
            url: URLPATH+"/Client/ModifierQuantite",
            type: "get",
            data: { 
                "NoProduit": id,
                "NoVendeur": noVendeur,
                aAugmenter: false
            },
            success: function (result) {
                $("#PLACEHOLDERDetailPanier").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERDetailPanier").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
    function supprimerArticles(id, noVendeur) {
        event.stopPropagation();
        $.ajax({
            url: URLPATH+"/Client/SupprimerArticle",
            type: "get",
            data: { 
                "NoProduit": id,
                "NoVendeur": noVendeur
            },
            success: function (result) {
                $("#PLACEHOLDERDetailPanier").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERDetailPanier").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
    function supprimerPanier(noVendeur) {
        $.ajax({
            url: URLPATH+"/Client/SupprimerPanier",
            type: "get",
            data: { 
                "NoVendeur": noVendeur
            },
            success: function (result) {
                window.location.href = "@Url.Action("MonPanier", "Client")";
            },
            error: function (req, status, err) {
                window.location.href = "@Url.Action("MonPanier", "Client")";
            }
        });
    }
    //remplir le div template pour le modal de visualiser un produit
    function visualiser(noProduit) {
        $("#ModalDescription").modal('show');
        $.ajax({
            url: URLPATH+"/Client/InformationProduitPanier",
            type: "get",
            data: { 
                "NoProduit": noProduit
            },
            success: function (result) {
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
</script>