@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPCommande

@{
    ViewBag.Title = "_Commande";
}

<tr class="v-align-middle">
    <th scope="row" class="rowHead">@Model.NoCommande</th>
    <td class="text-left"><a onclick="infoClient(@Model.NoClient)" class="alert-link" data-toggle="modal" data-target="#confirmationLivraison">@Model.PPClient.DisplayName</a></tdclass="rowHead">
    <td class="text-left">@Model.DateCommande.Value.ToShortDateString()</td>
    <td class="text-left">@Model.PPTypesLivraison.Description</td>
    <td class="prixQuantite">@Formatter.Money(Model.CoutLivraison)</td>
    <td class="prixQuantite">@Model.PoidsTotal lbs</td>
    <td class="prixQuantite">@Formatter.Money(Model.MontantTotAvantTaxes)</td>
    <td>
        <form class="form-inline">
            @if (Model.Statut != 'L')
            {
                <button type="button" title="Livrer" class="btn btn-success" onclick="visualiser(@Model.NoCommande)" data-toggle="modal" data-target="#confirmationLivraison">
                    <span class="glyphicon glyphicon-send"></span>
                </button>
            }
            <button type="button" title="Visualiser" onclick="ouvrirPdf(@Model.NoCommande)" class="btn btn-info">
                <span class="glyphicon glyphicon-file"></span>
            </button>

        </form>
    </td>
</tr>
