@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPCommande

@{
    ViewBag.Title = "_Commande";
}

<tr class="v-align-middle text-right">
    <th scope="row" class="rowHead">@Model.NoCommande</th>
    <td><a onclick="infoClient(@Model.NoClient)" class="alert-link" data-toggle="modal" data-target="#confirmationLivraison">@Model.PPClient.DisplayName</a></td>
    <td>@Model.DateCommande.Value.ToShortDateString()</td>
    <td>@Formatter.Money(Model.CoutLivraison)</td>
    <td>@Model.PPTypesLivraison.Description</td>
    <td>@Model.PoidsTotal lbs</td>
    <td>@Formatter.Money(Model.MontantTotAvantTaxes)</td>
    <td>
        <form class="form-inline">
            @if (Model.Statut != 'L')
            {
                <button type="button" title="Livrer" class="btn btn-success" onclick="visualiser(@Model.NoCommande)" data-toggle="modal" data-target="#confirmationLivraison">
                    <span class="glyphicon glyphicon-send"></span>
                </button>
            }
            <button type="button" title="Visualiser" onclick="window.open('@Url.Action("InfoCommande", "Vendeur", new { id = Model.NoCommande })')" class="btn btn-info">
                <span class="glyphicon glyphicon-file"></span>
            </button>

        </form>
    </td>
</tr>
