@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPCommande

@{
    ViewBag.Title = "_Commande";
}

<tr class="v-align-middle text-right">
    <th scope="row" class="rowHead">@Model.NoCommande</th>
    <td>@Model.PPClient.Nom</td>
    <td>@Model.DateCommande.Value.ToShortDateString()</td>
    <td>@Formatter.Money(Model.CoutLivraison)</td>
    <td>@Model.PPTypesLivraison.Description</td>
    <td>@Model.PoidsTotal lbs</td>
    <td>@Formatter.Money(Model.MontantTotAvantTaxes)</td>
    <td>
        <form class="form-inline">
            @if (Model.Statut != 'L')
            {
                <button type="button" title="Livrer" value="@Model.NoCommande" class="btn btn-success">
                    <span class="glyphicon glyphicon-send"></span>
                </button>
            }
            <button type="button" title="Visualiser" onclick="location.href='@Url.Action("InfoCommande", "Vendeur", new RouteValueDictionary(new { No = Model.NoCommande }))'" class="btn btn-info">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>

        </form>
    </td>
</tr>
