@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

<tr onclick="infoPanier(@Model.Client.NoClient)" class="v-align-middle text-left" style="height: 51px">
    <th class="rowHead"><a onclick="infoClient(@Model.Client.NoClient)" class="alert-link">@Model.Client.DisplayName</a></th>
    <td>@Model.DateCreation.ToShortDateString()</td>
    <td class="prixQuantite">@Model.GetNbItems()</td>
    <td class="prixQuantite">@Formatter.Money(Model.getPrixTotal())</td>
</tr>