@model PetitesPuces.Models.PPCommande
@using PetitesPuces.Utilities

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="receipt" class="well text-center">
    <div class="row">
        <div class="col-sm-6">
            <img width="450" src="~/images/carouselPublicite/puces.jpg" />
        </div>
        <div class="col-sm-6 text-right">
            <p>Commande #@Model.NoCommande</p>
            <p>@Model.DateCommande.Value.ToShortDateString()</p>
            <p>No d'autorisation @Model.NoAutorisation</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <h3>Client</h3>
            <br />
            <h5>@Model.PPClient.Prenom @Model.PPClient.Nom</h5>
            <h5>@Model.PPClient.AdresseEmail</h5>
            <h5>@Model.PPClient.Tel1</h5>
            <h5>@Model.PPClient.Tel2</h5>
            <h5>@Model.PPClient.Rue, @Model.PPClient.Ville</h5>
            <h5>@Model.PPClient.Province, @Model.PPClient.Pays</h5>
        </div>
        <div class="col-xs-6 text-left">
            <h3>Vendeur</h3>
            <br />
            <h5>@Model.PPVendeur.NomAffaires</h5>
            <h5>@Model.PPVendeur.AdresseEmail</h5>
            <h5>@Model.PPVendeur.Tel1</h5>
            <h5>@Model.PPVendeur.Tel2</h5>
            <h5>@Model.PPVendeur.Rue, @Model.PPVendeur.Ville</h5>
            <h5>@Model.PPVendeur.Province, @Model.PPVendeur.Pays</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Commande</h3>
            <table class="table bg-light">
                <tr>
                    <th>Produit</th>
                    <th class="text-right">Quantité</th>
                    <th class="text-right">Prix par unité</th>
                    <th class="text-right">Prix total</th>
                </tr>
                @foreach (var article in Model.PPDetailsCommandes)
                {
                    <tr class="v-align-middle">
                        <td class="text-left">@article.PPProduit.Nom</td>
                        <td class="text-right">@article.Quantité</td>
                        <td>@Formatter.Money(article.PrixVente)</td>
                        <td>@Formatter.Money(article.PrixVente * article.Quantité)</td>
                    </tr>
                }
                <tr class="v-align-middle">
                    <td></td>
                    <td></td>
                    <th scope="row" class="text-right">Avant-total: </th>
                    <td>@Formatter.Money(Model.PPDetailsCommandes.Sum(p=>p.PrixVente*p.Quantité))</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Livraison</h3>
            <table class="table bg-light">
                <tr>
                    <th>Type</th>
                    <th class="text-right">Poids</th>
                    <th class="text-right">Coût</th>
                </tr>
                <tr class="v-align-middle">
                    <th class="text-left">@Model.PPTypesLivraison.Description</th>
                    <td class="text-right">@Model.PoidsTotal lbs</td>
                    <td class="text-right">@Formatter.Money(Model.CoutLivraison.GetValueOrDefault())</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Total</h3>
            <table class="table bg-light">
                <tr class="v-align-middle">
                    <th scope="row">Avant-total + livraison</th>
                    <td>@Formatter.Money(Model.MontantTotAvantTaxes)</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">TPS</th>
                    <td>@Formatter.Money(Model.TPS.GetValueOrDefault())</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">TVQ</th>
                    <td>@Formatter.Money(Model.TVQ.GetValueOrDefault())</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">Grand total</th>
                    <th>@Formatter.Money(Model.TPS.GetValueOrDefault() + Model.TVQ.GetValueOrDefault() + Model.MontantTotAvantTaxes)</th>
                </tr>
            </table>
        </div>
    </div>
</div>