@using PetitesPuces.Securite;
@model PetitesPuces.Models.PPClient

<script src="~/Scripts/Courriel/CourrielLib.js" type="text/javascript"></script>
<script>

    function contacter(noUtilisateur) {
        const Objet = "";
        const DescMsg = "Salut @Model.Prenom,";
        const destinataire = [noUtilisateur];
        
        const message = {
            'DescMsg':DescMsg,
            'objet':Objet,
            'destinataires':destinataire
        }
        Courriel.enregistrerMessage(message,redirigerModuleCourriel);
    }
    function redirigerModuleCourriel(msg) {
        Courriel.redirigerVersMessage(msg);
    }
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="exampleModalLabel" style="overflow: hidden; text-overflow: ellipsis;">
        @Model.DisplayName
    </h2>
</div>
<div class="modal-body">
    <p><h4>Contact</h4></p>
    <p>Adresse email : @Model.AdresseEmail</p>
    <p>Téléphone 1 : @Model.Tel1</p>
    @if (Model.Tel2 != null)
    {
        <p>Téléphone 2 : @Model.Tel2</p>
    }
    <hr />
    <p><h4>Adresse</h4></p>
    <p>Rue : @Model.Rue</p>
    <p>Ville : @Model.Ville</p>
    <p>Province : @Model.Province</p>
    <p>Pays : @Model.Pays</p>
    <hr />
    <p>Nombre de visites : @Model.PPVendeursClients.Where(v => v.NoVendeur == SessionUtilisateur.UtilisateurCourant.No).Count()</p>
    <p>Dernière connexion : @Model.DateDerniereConnexion.Value.ToShortDateString()</p>
</div>
<div class="modal-footer">
    <button class="btn btn-link btn-lg" onclick="contacter(@Model.NoClient)">
        <span class="glyphicon glyphicon-envelope"></span>
    </button>
</div>