@model PetitesPuces.ViewModels.Vendeur.ModifierProduitViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span> 
    </button>
    <h2 class="modal-title" id="exampleModalLabel" style="overflow: hidden; text-overflow: ellipsis;">
        @Model.Produit.Nom
    </h2>
</div>
<div class="modal-body">
    <form id="frmModifierProduit" action="post">
        <input name="NoProduit" type="hidden" value="@Model.Produit.NoProduit" />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Nom</span>
            <input name="Nom" class="form-control" required type="text" maxlength="50" value="@Model.Produit.Nom" />
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Photo</span>
            <input name="Photo" class="form-control" accept=".jpg,.jpeg,.png,.gif" type="file" />
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Quantité</span>
            <input name="NombreItems" min="0" class="form-control" type="number" value="@Model.Produit.NombreItems" />
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Description</span>
            <textarea name="Description" style="height:90px" class="form-control">@Model.Produit.Description</textarea>
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Prix demandé</span>
            <input name="PrixDemande" type="number" class="form-control" step="0.01" min="0" value="@Model.Produit.PrixDemande">
            <span class="input-group-addon">$</span>
        </div>

        <br />
        @{
            string strDateVente = Model.Produit.DateVente.HasValue ? Model.Produit.DateVente.Value.ToShortDateString() : "";
        }

        <div class="input-group" style="width:100%; padding-bottom:3px">
            <span class="input-group-addon" style="width:150px">Prix de vente</span>
            <input name="PrixVente" type="number" class="form-control" step="0.01" min="0" value="@Model.Produit.PrixVente">
            <span class="input-group-addon">$</span>
        </div>
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Date de vente</span>
            <input name="DateVente" type="date" class="form-control" value="@strDateVente">
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Poids</span>
            <input name="Poids" type="number" class="form-control" step="0.1" min="0" value="@Model.Produit.Poids">
            <span class="input-group-addon">lbs</span>
        </div>

        <br />

        <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:150px">Catégorie</span>
            <select name="NoCategorie" class="form-control">
                @foreach (var categorie in Model.Categories)
                {
                    if (Model.Produit.NoCategorie == categorie.NoCategorie)
                    {
                        <option selected value="@categorie.NoCategorie">@categorie.Description</option>
                    }
                    <option value="@categorie.NoCategorie">@categorie.Description</option>
                }
            </select>
        </div>

        <br />
        @{
            string strChecked = (bool)Model.Produit.Disponibilité ? "checked" : "";
        }
        <div class="input-group" style="width:100%; padding:5px">
            <span class="input-group-addon" style="width:150px">Disponibilité</span>
            <input name="Disponibilite" class="form-control m-0" style="width:45px; margin-right:120px" type="checkbox" @strChecked />
        </div>
    </form>
    <hr />
    <p>Date de création : @Model.Produit.DateCreation.Value.ToShortDateString()</p>
</div>
<div class="modal-footer">
    <button class="btn btn-link btn-lg" type="submit" title="Modifier" onclick="confirmationModifier();">
        <span class="glyphicon glyphicon-check"></span>
    </button>
    <button class="btn btn-link btn-lg" title="Annuler" onclick="information(@Model.Produit.NoProduit)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>