@using System.Web.Mvc.Html
@model PetitesPuces.ViewModels.Gestionnaire.InactiviteViewModel
@{
    ViewBag.Title = "Inactivite - Gestionnaire";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Gestionnaire/Inactivite.css")" />
}

<h2 class="text-center">Gestion des comptes inactifs</h2><br />

<h3 class="text-center">Clients Inactifs</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Inactif depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="1m" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="2m" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="3m" autocomplete="off" /> 3
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="6m" autocomplete="off" /> 6
            </label>
            <strong class="mx-1">Mois</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="1y" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="2y" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="3y" autocomplete="off" /> 3
            </label>
            <strong class="mx-1">Ans</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default " >
                <input type="radio" name="depuisClient" value="T" autocomplete="off" /> Toujours
            </label>
        </div>
    </div>
    <div id="listeGestionClients">
        @Html.Partial("Gestionnaire/Inactivite/_ListeSuppressionClient", @Model.ClientsInactifs)
    </div>
    <button id="supprimerClients" class="btn btn-danger btn-large center-block">Supprimer les clients inactifs visibles</button>
</div>

<h3 class="text-center col-xs-12">Vendeurs Inactifs</h3>
<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Inactif depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="1y" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="2y" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="3y" autocomplete="off" /> 3
            </label>
            <strong class="mx-1">Ans</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default ">
                <input type="radio" name="depuisVendeur" value="T" autocomplete="off" /> Toujours
            </label>
        </div>
    </div>
    <div id="listeGestionVendeurs">
        @Html.Partial("Gestionnaire/Inactivite/_ListeSuppressionVendeur", @Model.VendeursInactifs)
    </div>
    <button id="supprimerVendeurs" class="btn btn-danger btn-large center-block">Supprimer les vendeurs inactifs visibles</button>
</div>

<h3 class="text-center col-xs-12">Désactiver un compte utilisateur</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="form-inline">
        <div class="input-group">
            <input id="tbRecherche" type="search" class="form-control">
            <span class="input-group-btn">
                <button id="btnRecherche" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search v-align-middle" aria-hidden="true">
                    </span>
                </button>    
            </span>
        </div>
        <div class="btn-group" data-toggle="buttons" role="group">
            <label type="button" class="btn btn-default">
                <input type="radio" name="critereInactivite" value="Vendeur" autocomplete="off" /> Vendeur
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="critereInactivite" value="Client" autocomplete="off" /> Client
            </label>
            <label type="button" class="btn btn-default ">
                <input type="radio" name="critereInactivite" value="Utilisateur" autocomplete="off"  /> Tous
            </label>
        </div>
    </div>
    <div id="listeGestionInactivite">
        @Html.Partial("Gestionnaire/Inactivite/_ListeDisablePersonne", Tuple.Create(Model.UtilsRecherche, true))
    </div>
</div>

<script>
    $(document).ready(function() {
        const filtres = new URL(window.location.href).searchParams;
        const filterDefaults = {
            depuisClient: 'T',
            depuisVendeur: 'T',
            typeUtilisateur: 'Utilisateur',
            recherche: '',
        }
        
        for (let prop in filterDefaults) {
            if (!filtres.has(prop)) {
                filtres.append(prop, filterDefaults[prop]);
            }
        }

        registerDeleteUserEvents();
        
        function registerDeleteUserEvents() {
            $('#listeGestionInactivite').find('.btn-danger').each(function() {
                const noUtilisateur = $(this).closest('tr').find('th').eq(0).text();
                $(this).click(() => supprimerUtilisateurs([parseInt(noUtilisateur)]));
            });
        }

        
        $('#supprimerClients').click(function() {
            viderTableau($('#listeGestionClients'));
        });

        $('#supprimerVendeurs').click(function() {
            viderTableau($('#listeGestionVendeurs'));
        });

        function confirmerSuppression(nb, type) {
            return confirm(`Êtes-vous certain de vouloir supprimer de façon permanente ${nb} comptes utilisateur?`);
        }
        
        function viderTableau(tableau) {
            const nbUtilisateurs = $('#listeGestionVendeurs').find('tbody').find('tr').length;
            if (!confirmerSuppression(nbUtilisateurs)) return;
            
            const ids = [];
            tableau.find('tbody').find('th').each(function() {
                ids.push(parseInt($(this).text()));
            });
            
            supprimerUtilisateurs(ids);
        }
        
        function supprimerUtilisateurs(ids) {              
            const data = JSON.stringify({
                nosASupprimer: ids
            });

            $.ajax({
                url: '/Gestionnaire/Inactivite/RendreInactif',
                method: 'POST',
                data: data,
                complete: reloadAll,
                dataType:'json',
                contentType: 'application/json'
            });
        }
        
        function reloadAll() {
            refreshUtilisateurs();
            refreshListeVendeurs();
            refreshListeClients();
        }
        
        function refreshListeVendeurs() {
            const searchParam = {
                depuisVendeur: filtres.get('depuisVendeur')
            };
            $.get('/Gestionnaire/Inactivite/Vendeurs', searchParam, afficherVendeurs);
        }
        
        function refreshListeClients() {
            const searchParam = {
                depuisClient: filtres.get('depuisClient')
            };
            $.get('/Gestionnaire/Inactivite/Clients', searchParam, afficherClients);     
        }
        
        function refreshUtilisateurs() {
            const searchParam = {
                search: filtres.get('search')
            }
            $.get(`/Gestionnaire/Inactivite/Liste/${filtres.get('typeUtilisateur')}`, searchParam, afficherUtilisateurs);         
        }
        
        $('[name="critereInactivite"]').each(function() {
            $(this).change(deleteUserFilterChanged);
            initRadioButton($(this), 'typeUtilisateur');
        });
        
        function initRadioButton(jqueryElem, searchParamKey) {
            if (filtres.get(searchParamKey) === jqueryElem.val()) {
                jqueryElem.prop('checked', true);
                jqueryElem.parent().addClass('active');
            }
        }
        
        $('[name="depuisVendeur"]').each(function() {
            $(this).change(deleteVendeurFilterChanged);
            initRadioButton($(this), 'depuisVendeur');
        });
        
        $('[name="depuisClient"]').each(function() {
            $(this).change(deleteClientFilterChanged);
            initRadioButton($(this), 'depuisClient');
        });

        $('#tbRecherche').change(function() {
            const recherche = $(this).val();
            filtres.set('recherche', recherche);
            updatePageState();
        });

        $('#btnRecherche').click(function() {
            const recherche = $('#tbRecherche').val();
            filtres.set('recherche', recherche);
            updatePageState();
        });
        
        function deleteUserFilterChanged() {
            if (!$(this).prop('checked')) return;

            const selectedVal = $(this).val();

            $.get(`/Gestionnaire/Inactivite/Liste/${selectedVal}`, null, afficherUtilisateurs);
            filtres.set('typeUtilisateur', selectedVal);
        }
        
        function deleteVendeurFilterChanged() {
            if (!$(this).prop('checked')) return;

            const selectedVal = $(this).val();

            $.get(`/Gestionnaire/Inactivite/Vendeurs`, {depuisVendeur: selectedVal}, afficherVendeurs);
            filtres.set('depuisVendeur', selectedVal);
        }
        
        function deleteClientFilterChanged() {
            if (!$(this).prop('checked')) return;

            const selectedVal = $(this).val();

            $.get(`/Gestionnaire/Inactivite/Clients`, {depuisClient: selectedVal}, afficherClients);
            filtres.set('depuisClient', selectedVal);
        }
        
        function afficherUtilisateurs(partial) {
            $('#listeGestionInactivite').html(partial);
            registerDeleteUserEvents();
            updatePageState();
        }
        
        function afficherClients(partial) {
            $('#listeGestionClients').html(partial);
            updatePageState();
        }
        
        function afficherVendeurs(partial) {
            $('#listeGestionVendeurs').html(partial);
            updatePageState();
        }
        
        function updatePageState() {
            const url = new URL(window.location.href);
            
            history.replaceState(null,  'Inactivite - Gestionnaire - Les Petites Puces', '?' + filtres.toString());
        }
    });
</script>
