@{
    ViewBag.Title = "Accueil - Gestionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navbar {
    <li>@Html.ActionLink("Demandes de vendeur", "DemandesVendeur", "Gestionnaire")</li>
    <li>@Html.ActionLink("Utilisateurs inactifs", "Inactivite", "Gestionnaire")</li>
    <li>@Html.ActionLink("Redevances des vendeurs", "Redevances", "Gestionnaire")</li>
    <li>@Html.ActionLink("Statistiques et rapports", "Statistiques", "Gestionnaire")</li>
}
<h1 class="row text-center">
    Bienvenue "Gestionnaire"
</h1>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="row text-center">Nouvelles demandes de vendeurs</h3>
        <div class="row jumbotron">
            <canvas id="cvDemandesVendeur" style="width: 100%"></canvas>
            @Html.ActionLink("Plus d'info", "DemandesVendeur", "Gestionnaire", null, new { @class = "btn btn-primary btn-large center-block" })
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="row text-center">Utilisateurs inactifs</h3>
        <div class="row jumbotron">
            <canvas id="cvInactivite" style="width: 100%"></canvas>
            @Html.ActionLink("Plus d'info", "Inactivite", "Gestionnaire", null, new { @class = "btn btn-primary btn-large center-block" })
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="row text-center">Redevances</h3>
        <div class="row jumbotron">
            <canvas id="cvRedevances" style="width: 100%"></canvas>
            @Html.ActionLink("Plus d'info", "Redevances", "Gestionnaire", null, new { @class = "btn btn-primary btn-large center-block" })
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 text-center">
        @Html.ActionLink("Visualiser toutes les statistiques et rapports", "Statistiques", "Gestionnaire", null, new { @class = "btn btn-primary btn-large center-block" })
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/chart");
    <script type="text/javascript" src="@Url.Content("/Scripts/Gestionnaire/Index.js")"></script>
}
