@model PetitesPuces.Models.Client

<tr>
    <th scope="row">@Model.NoClient</th>
    <td class="text-left">@Model.AdresseEmail</td>
    <td class="text-left">@Model.Prenom</td>
    <td class="text-left">@Model.Nom</td>
    <td class="text-left">@Model.DateDerniereConnexion</td>
</tr>