@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", false)
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Gestionnaire")</li>
    <li>@Html.ActionLink("Demandes vendeur", "DemandesVendeur", "Gestionnaire")</li>
    <li>@Html.ActionLink("Redevances", "Redevances", "Gestionnaire")</li>
    <li>@Html.ActionLink("Inactivité", "Inactivite", "Gestionnaire")</li>
    <li>@Html.ActionLink("Statistiques", "Statistiques", "Gestionnaire")</li>
    <li>@Html.ActionLink("Jeu d'essai", "Index", "JeuDessai")</li>
}

@RenderBody()

@section scripts {
    @RenderSection("scripts", false)
}
