@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model CatalogueViewModel

@{
    Layout = null;
}
<style>
    #backTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: lightskyblue;
        color: white;
        cursor: pointer;
        padding: 15px;
        opacity: 0.5;
        border-radius: 4px;
    }

    #backTop:hover {
        opacity: 0.9;
    }
</style>

<div class="row">

    <div id="filters" class="col-lg-2" style="border-right: 1px solid #d0c9c9; ">
        <div style="">
            <div class="item">
                <div class="panel-footer"><h4>Recherche :</h4></div>
                <div class="panel-body">
                    <input class="form-control" value="@ViewBag.Filtre" style="width: 100%" type="text" id="tbRecherche" onchange="filtrerListe()">

                    <div class="row">&nbsp;&nbsp;&nbsp;
                        Nom <input type="checkbox" name="Nom"/>
                        Description <input type="checkbox"/>
                    </div>
                </div>
                    
                <div class="panel-footer"><h4>Tri :</h4></div>
                <div class="panel-body">
                    <select id="Tri" class="form-control" onchange="updateTri()">
                        @foreach (Enum tri in  Enum.GetValues(typeof(Tri)))
                        {    
                            if (@ViewBag.Tri == tri.ToString())
                            {
                                <option selected value="@tri">@tri.GetDisplayName()</option>
                            }
                            else
                            {
                                <option value="@tri">@tri.GetDisplayName()</option>
                            }

                        }
                    </select>

                    <p>Nb d'items par page : </p>
                    <div class="nbItems">
                        <select id="ddlNbItems" class="form-control" onchange="updateNbItems()">
                            @for (int i = 4; i <= 40; i += 4)
                            {
                                if (@ViewBag.NbItems == i)
                                {
                                    <option selected value="@i">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                            @if (@ViewBag.NbItems == -1)
                            {
                                <option selected value="-1">Tous</option>
                            }
                            else
                            {
                                <option value="-1">Tous</option>
                            }
                        </select>
                    </div>
                </div>
                    
                <div class="panel-footer">
                    <h4>Catégories :</h4>
                </div>
                <div class="panel-body" style="height: 40vh; overflow: auto;">
                    @if (Model.Vendeur.NoVendeur == -1)
                    {
                        <p><a class="categorie" onclick="selectCategorie(@Model.Vendeur.NoVendeur, -1)" id="-1">Tous (@Model.Categories.Sum(c => c.PPProduits.Count))</a></p>
                        foreach (PPCategory category in @Model.Categories)
                        {
                            var nb = category.PPProduits.Count;
                            if (nb > 0)
                            {
                                <p><a class="categorie" onclick="selectCategorie(@Model.Vendeur.NoVendeur, this)" id="@category.NoCategorie">@category.Description (@nb)</a></p>
                            }
                        }

                    }
                    else
                    {
                        <p><a class="categorie" onclick="selectCategorie(@Model.Vendeur.NoVendeur,-1)" id="-1">Tous (@Model.Vendeur.PPProduits.Count)</a></p>   
                        foreach (PPCategory category in @Model.Categories)
                        {
                            var nb = Model.Vendeur.PPProduits.Count(c => c.PPCategory == category);
                            if (nb > 0)
                            {
                                <p><a class="categorie" onclick="selectCategorie(@Model.Vendeur.NoVendeur,this)" id="@category.NoCategorie">@category.Description (@nb)</a></p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        @if (ViewBag.NbPage > 1)
        {
            @Html.Partial("_Pagination")
        }
        <div class="row">
            @if (@Model.Categorie == null)
            {
                <h3>&nbsp;&nbsp; Tous les produits</h3>
            }
            else
            {
                <h3>&nbsp;&nbsp; @Model.Categorie.Description</h3>
            }
            @if (Model.Produits.Count > 0)
            {
                foreach (PPProduit produit in Model.Produits)
                {
                    @Html.Partial("Client/_Produits", produit)
                }
            }
            else
            {
                <br/>
                <div class="col-lg-10 col-lg-offset-1 alert alert-warning" style="text-align: center" role="alert">
                    <span style="font-size: 60px" class="glyphicon glyphicon-unchecked"></span>
                    <h3>Il n'y a aucun produit à afficher</h3>
                </div>
            }
        </div>
        @if (ViewBag.NbPage > 1)
        {
            @Html.Partial("_Pagination")
        }
    </div>
</div>
<button onclick="topFunction()" id="backTop" title="Remonter au haut de la page"><span class="glyphicon glyphicon-menu-up"></span></button>
<!-- Modal confirmation ajout panier-->
<div class="modal fade" id="confirmationAjoutPanier" tabindex="-1" role="dialog" aria-labelledby="confirmationAjoutPanier">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                <h4>Le produit a été ajouté avec succès à votre panier</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal erreur ajout panier-->
<div class="modal fade" id="erreurAjoutPanier" tabindex="-1" role="dialog" aria-labelledby="erreurAjoutPanier">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Erreure
            </div>
            <div class="modal-body">
                <h4>Le produit n'a pas assez de quantité pour être ajouté au panier</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener("load",function(){
        $('#Vendeur'+@Model.Vendeur.NoVendeur).first().addClass("Current");
        $("div.nbItems select").val("@ViewBag.NbItems");
    },false);
    //gerer la recherche
    function filtrerListe(elem) {
        const value = $('#tbRecherche').val();
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        const NbItems = @ViewBag.NbItems;
        const NoPage = 1;
        updateListeProduits(NoVendeur, NoCategorie,NbItems,NoPage, value);
    }
    //gerer le changement de Tri
    function updateTri() {
        const val = $("#Tri").val();
        const filrte = $('#tbRecherche').val();
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        const NbItems = @ViewBag.NbItems;
        const NoPage = 1;
        updateListeProduits(NoVendeur, NoCategorie,NbItems,NoPage, filrte, val);
    }
    //gérer les clicks de categories
     
    function selectCategorie(noVendeur,elem) {
        const id = $(elem).attr("id");
        updateListeProduits(noVendeur, id);
    }
    //gerer le changement de page avec le pager
    function changePage(elem) {
        const id = $(elem).attr("id");
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        updateListeProduits(NoVendeur, NoCategorie,@ViewBag.NbItems,id);
    }
    function previousPage() {
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        updateListeProduits(NoVendeur, NoCategorie,@ViewBag.NbItems,@ViewBag.NoPage === 1?1:@ViewBag.NoPage-1);
    }
    function nextPage() {
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        updateListeProduits(NoVendeur, NoCategorie,@ViewBag.NbItems,@ViewBag.NoPage === @ViewBag.NbPage?@ViewBag.NoPage:@ViewBag.NoPage+1);
    }
    //gerer le chamgement de nb d'items par page
    function updateNbItems() {
        const elem = document.getElementById("ddlNbItems");
        const nb = elem.options[elem.selectedIndex].value;
        
        const NoVendeur=@Model.Vendeur.NoVendeur;
        const NoCategorie = @ViewBag.NoCategorie;
        console.log(NoCategorie)
        const NoPage = 1;

        updateListeProduits(NoVendeur,NoCategorie,nb,NoPage);
    }
    /**
     * Update les produits selon le vendeur selectionner
     */
    function updateListeProduits(NoVendeur, NoCategorie, nbItems=@ViewBag.NbItems, noPage=1, filtre = "", tri = "@ViewBag.Tri") {
        $.ajax({
            url: URLPATH+"/Client/ListeProduits",
            type: "get",
            data: { 
                "Vendeur": NoVendeur,
                "Categorie": NoCategorie,
                "Page":noPage,
                "Size":nbItems,
                "Filtre":filtre,
                "TriPar":tri
            },
            success: function (result) {
                $("#partialListeProduits").html(result);
            },
            error: function (req, status, err) {
                $("#partialListeProduits").html("@Html.Partial("_ErrorAlert")");
                console.log(req, status, err);
            }
        });
        $('.Current').removeClass("Current");
        $("#Vendeur"+NoVendeur).first().addClass("Current");
        
        /**border border-primary
         * changer le url sans refresh
         */
        var PARAMS = "";
        PARAMS += NoVendeur ? "?Vendeur="+NoVendeur : "?Vendeur=-1";
        PARAMS += NoCategorie !== 1 ? "&Categorie="+NoCategorie : "";
        PARAMS += noPage ? "&Page="+noPage : "";
        PARAMS += nbItems ? "&Size="+nbItems : "";
        PARAMS += filtre ? "&Filtre="+filtre : "";
        PARAMS += tri ? "&TriPar="+tri : "";
        var objParams = {
            Vendeur:NoVendeur,
            Categorie:NoCategorie,
            Page:noPage,
            Size:nbItems,
            Filtre:filtre,
            TriPar:tri
        }
        history.pushState(objParams, "", PARAMS);
    }
    //remplir le div template pour le modal de visualiser un produit
    function visualiser(noProduit) {
        $.ajax({
            url: URLPATH+"/Client/InformationProduit",
            type: "get",
            data: { 
                "NoProduit": noProduit
            },
            success: function (result) {
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
    //ajouter un item au produit
    function ajouterAuPanier(noProduit, quantite = 1) {
        $.ajax({
            url: URLPATH + "/Client/AjouterProduitAuPanier",
            type: "post",
            data: {
                "NoProduit": noProduit,
                "Quantite": quantite
            },
            success: function(result) {
                $('#confirmationAjoutPanier').modal('show');
                let $span  = $(`#Quantite${noProduit}`);
                console.log($span);
                let val = 0;
                if ($span.length)
                    val = parseInt($span.text());
                val += parseInt(quantite);

                const txt =
                    `<span class="badge badge-primary pull-right" title="Vous avez ${val} item(s) dans votre panier">
                    <span id="("Quantite${noProduit}>${val}</span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </span>`;

                $(`#QuantitePLACEHOLDER${noProduit}`).html(txt);
            },
            error: function(req, status, err) {
                $('#erreurAjoutPanier').modal('show');
            }
        });
    }
    //augmeneter la quantite
    function plusQuantite(id) {
        $("#" + id).val(parseInt($("#" + id).val()) + 1);
    }
    //diminuer la quantite
    function moinsQuantite(id) {
        if ($("#" + id).val() >= 1)
            $("#" + id).val(parseInt($("#" + id).val()) - 1);
    }
    //Quand scroll, afficher le button pour remonter en haut
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("backTop").style.display = "block";
        } else {
            document.getElementById("backTop").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>