@using PetitesPuces.Models
@model CatalogueViewModel

@{
    Layout = null;
}


<div class="row">

    <div class="col-sm-3 col-md-4 col-lg-2" style="border-right: 1px solid #333; ">
        <div style="">
            <div class="item">
                <div class="panel-footer"><h4>Recherche :</h4></div>
                <div class="panel-body">
                    <input class="form-control" style="width: 100%" type="text" name="search">
                    <div class="row">&nbsp;&nbsp;&nbsp;Par: 
                        Nom <input type="checkbox" name="Nom"/>
                        Description <input type="checkbox"/>
                    </div>
                </div>
                    
                <div class="panel-footer"><h4>Tri :</h4></div>
                <div class="panel-body">
                    <select class="form-control">
                        @for (var i = 1; i <= 5; i++)
                        {
                            <option value="@i">Option @i</option>
                        }
                    </select>
                </div>
                    
                <div class="panel-footer">
                    <h4>Catégories :</h4>
                </div>
                <div class="panel-body" style="height: 40vh; overflow: auto;">
                    <p><a class="categorie" onclick="selectCategorie(this)" id="undefined">Tous (@Model.Vendeur.PPProduits.Count)</a></p>   
                    @foreach (PPCategory category in @Model.Categories)
                    {
                        var nb = Model.Vendeur.PPProduits.Count(c => c.PPCategory == category);
                        if (nb > 0)
                        {
                            <p><a class="categorie" onclick="selectCategorie(this)" id="@category.NoCategorie">@category.Description (@nb)</a></p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-8 col-lg-10">
        <div class="container row">
            @if (@Model.Categorie == null)
            {
                <h3>Tous les produits</h3>
                foreach (PPProduit produit in Model.Vendeur.PPProduits)
                 {
                    @Html.Partial("Client/_Produits", produit)
                 }
            }
            else
            {
                <h3>@Model.Categorie.Description</h3>
                foreach (PPProduit produit in Model.Vendeur.PPProduits)
                {
                    if (produit.PPCategory == Model.Categorie)
                    {
                        @Html.Partial("Client/_Produits", produit)
                    }
                }
            }
        </div>
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         
    </div>
</div>
