@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


@section scripts {
    @RenderSection("scripts", false)
}

@section navbar {
        <li>@Html.ActionLink("Accueil", "Index", "Client")</li>
        <li>@Html.ActionLink("Catalogue", "Catalogue", "Client")</li>
        <li>@Html.ActionLink("Mon panier", "MonPanier", "Client")</li>
        <li>@Html.ActionLink("Profil", "Profil", "Client")</li>    
        <li><a href="@Url.Action( "Index", "Courriel")">Courriel</a></li>
}

@RenderBody()

@section styles {
    @RenderSection("styles", false)
}