@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


@section scripts {
    @RenderSection("scripts", false)
}

@section navbar {
    @{
        var ok = false;
        if (!ok)
        {
            <li>@Html.ActionLink("Accueil", "Index", "Client")</li>
            <li>@Html.ActionLink("Catalogue", "Catalogue", "Client")</li>
            <li>@Html.ActionLink("Mon panier", "MonPanier", "Client")</li>
            <li>@Html.ActionLink("Profil", "Profil", "Client")</li>
            <li>@Html.ActionLink("Connexion", "Connexion", "Home")</li>
        }
        else
        {
            <li>@Html.ActionLink("Accueil", "Index", "Client")</li>
            <li>@Html.ActionLink("Catalogue", "Catalogue", "Client")</li>
            <li>@Html.ActionLink("Mon panier", "MonPanier", "Client")</li>
            <li>@Html.ActionLink("Profil", "Profil", "Client")</li>
        }

    
    }

}

@RenderBody()

@section styles {
    @RenderSection("styles", false)
}