@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPProduit

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"> 
    <div class="panel panel-primary">
        <div class="panel-footer">@Model.Nom</div>
        <div class="panel-body">
            <img src="@Url.Content("/images/produits/" + Model.Photo)" onerror="this.src = 'https://placehold.it/150x80?text=IMAGE';" class="img-responsive" style="width: 100%" alt="Image">
            <div class="h3">
                @Formatter.Money(@Model.PrixVente)
            </div>
            <button class="btn btn-link btn-lg" title="Ajouter au panier" onclick="ajouterAuPanier(@Model.NoProduit)">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#ModalDescription" title="Visualiser le produit" onclick="visualiser(@Model.NoProduit)">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </div>
        <div class="panel-footer">Vendeur : @Model.PPVendeur.Nom</div>
    </div>
</div>