@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPVendeur

<div id="@("Vendeur" + @Model.NoVendeur)" class="item div_hover" style="cursor: pointer" onclick="updateListeProduits('@Model.NoVendeur')">
    <div class="">    
        <div class="">
            <p style="line-height: 2.0;">@Model.Nom</p>
            <p>Nombre d'items : @Model.PPProduits.Count </p>
        </div>
    </div>
</div>
