@model PetitesPuces.Models.IUtilisateur
@{
    ViewBag.Title = "Connexion";

}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/Connexion/Index.css")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/InscriptionEtConnexion/Connexion.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Home/Inscription.js")"></script>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm())
{


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Se connecter</a>

                            </div>
                            <div class="col-xs-6">

                                @Html.ActionLink("S'inscrire", "InscriptionClient", new { id = "register-form-link", @class = "active" })
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form id="login-form" method="post" role="form" style="display: block;">
                          
                                @if (ViewBag.Status == "InscriptionReussi")
                                {
                                    <div class="alert alert-info text-center" role="alert" style="margin: 20px;">
                                        Inscription réussite!
                                    </div>
                                }
                                @if (ViewBag.Status == "EnregistrementReussi")
                                {
                                    <div class="alert alert-info text-center" role="alert" style="margin: 20px;">
                                       Enregistrement réussi!
                                    </div>
                                }

                                <h1 class=" text-center">Connexion</h1>
                                <br />
                                <div class="form-row">
                                
                                    <div class="form-group col-md-6 col-lg-offset-3">

                                       @Html.LabelFor(model => model.AdresseEmail, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.AdresseEmail, new { id = "adresseEmail", @name = "adresseEmail", htmlAttributes = new { @PlaceHolder = "Entrez votre adresse de courriel", @class = " center-block form-control", Value = ViewBag.courriel } })
                                      
                                        @Html.ValidationMessageFor(model => model.AdresseEmail, "", new { @class = "text-danger center-block" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-lg-offset-3">

                                        @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "" })
                                        @Html.PasswordFor(model => model.MotDePasse, new { id = "motDePasse", @name = "motDePasse", @PlaceHolder = "Entrez votre mot de passe", @class = "form-control center-block" , Value = ViewBag.mdp})
                                        @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6 col-lg-offset-3">
                                    
                                        <input type="checkbox" tabindex="3" class="text-center" name="remember" id="remember" @ViewBag.souvenirCheck>
                                        <label for="remember">&nbsp;Se souvenir de moi?</label>
                                    </div></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-lg btn-primary btn-block" value="Se connecter">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="@Url.Action("OubliMDP", "Home")" tabindex="5" class="forgot-password">Mot de passe oublié?</a><br />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="col-lg-12">
                                <div id="loginDiv"> </div>
                                @Html.ActionLink("Retourner au menu", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}