@using Newtonsoft.Json
@model PetitesPuces.Models.PPVendeur
@{
    ViewBag.Title = "Courriel inscription réussite";
}


<div class="container">
    <div class="row">

        <form class="form" id="recuperationMDP">


            <h1>Titre: Inscription réussite</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <h4>De: <label class="text-info">L'équipe de petites puces.</label></h4><br/>
            <h4>À: <label class="text-info">@Model.AdresseEmail  @Model.Nom @Model.Prenom</label></h4><br/>
            <h5>
                Bonjour,

                Suite à votre demande, votre profil Les Petites Puces a été créé. Votre numéro de client est <label class="text-info">@Model.NoVendeur</label>. </h5>
            <h5> Voici vos informations de connexion : </h5>
            
            <br/>
            <h5> Identifiant : <label class="text-info">@Model.AdresseEmail</label></h5>
            <h5> Mot de passe :  <label class="text-info">@Model.MotDePasse</label></h5>
            <br/>
            <h5> Merci de faire affaire avec nous, </h5>
            <h5>
                Les Petites Puces.Inc
            </h5>
            <br/>
            <h4>Veuillez entrer ce lien pour aller à la page de connexion.</h4>
            <div class="input-group">

                @Html.ActionLink("http://localhost.fsdafsadfads.sadfvzvzv.dsfdsafds/fdsafdsafds.fdsaf/", "Connexion")
            </div>
        </form>
    </div>
</div>
