@using PetitesPuces.Models
@model PetitesPuces.ViewModels.Home.AccueilHomeViewModel

@{
    ViewBag.Title = "Accueil";
}
@section styles
{
        <link href="@Url.Content("/Content/Shared/Carousel.css")" rel="stylesheet" id="Carousel-css">
        <link href="@Url.Content("/Content/Shared/Hover.css")" rel="stylesheet" id="Hover-css">
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/Shared/Carousel.js")"></script>
}
<br/>
<br/>
<div class="container">
    @Html.Partial("_CarouselPublicitaire")
    <div class="row">
        <h2>Nos Catégories</h2>
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="5" id="CarouselProduits" data-interval="1000" on>
            <div class="MultiCarousel-inner">
                @foreach(PPCategory cat in @Model.Categories)
                {
                    @Html.Partial("Home/_CategorieCarousel", cat)
                }

            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>

        <br/>
        <hr/>

        <h2>Nos Vendeurs</h2>
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="5" id="CarouselPaniers" data-interval="1000">
            <div class="MultiCarousel-inner">
                @foreach (PPVendeur vend in @Model.Vendeurs)
                {
                    @Html.Partial("Home/_VendeurCarousel", vend)
                }

            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
    <div class="alert alert-info" role="alert"><a href="@Url.Action("Connexion", "Home")">Pour consulter le catalogue complet et passer des commandes, veuiller vous connecter</a></div>
    <div id="partialListeProduits">
        @Html.Partial("Home/_ListeProduits",(List<PPProduit>)Model.Produits)
    </div>
</div>



<script>
    window.addEventListener("load",function(){
            $('#Vendeur'+@Model.Vendeur.NoVendeur).first().addClass("Current");

    },false);
    
    function updateListeProduits(NoVendeur) {
        $.ajax({
            url: "Home/ListeProduits",
            type: "get",
            data: { 
                "Vendeur": NoVendeur
            },
            success: function (result) {
                $("#partialListeProduits").html(result);
            },
            error: function() {
                $("#partialListeProduits").html("@Html.Partial("_ErrorAlert")");
            }
        });
        $('.Current').removeClass('Current');
        $('#Vendeur'+NoVendeur).first().addClass("Current");
    }
</script>
