@model PetitesPuces.Models.PPVendeur_Validation

@{
    ViewBag.Title = "Inscription Vendeur";
}



@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/Connexion/Index.css")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/InscriptionEtConnexion/InscriptionVendeur.js")"></script>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">

                                @Html.ActionLink("Se connecter", "Connexion", new { id = "login-form-link", @class = "active" })

                            </div>
                            <div class="col-xs-6">

                                <a href="#" id="register-form-link" class="active">S'inscrire</a>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">


                        <form id="register-form-vendeur" method="post" role="form">
                            <h3 class="text-center">S'inscrire en tant que vendeur</h3>
                            <br />


                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.NomAffaires, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.NomAffaires, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Nom d'affaire" } })
                                    @Html.ValidationMessageFor(model => model.NomAffaires, "", new { @class = "text-danger" })

                                </div>


                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Nom" } })
                                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Prénom" } })
                                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "text-right w-100" })
                                </div>

                                <div class="form-group col-lg-8 ">

                                    @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Pays" } })
                                    @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })



                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.AdresseEmail, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.AdresseEmail, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Adresse courriel" } })
                                    @Html.ValidationMessageFor(model => model.AdresseEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.confirmationCourriel, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.confirmationCourriel, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Confirmer votre courriel" } })
                                    @Html.ValidationMessageFor(model => model.confirmationCourriel, "", new { @class = "text-danger" })



                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Mot de passe" } })
                                    @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.confirmationMDP, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8 ">

                                    @Html.EditorFor(model => model.confirmationMDP, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Confirmer votre mot de passe" } })
                                    @Html.ValidationMessageFor(model => model.confirmationMDP, "", new { @class = "text-danger" })



                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.tel1, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.tel1, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Téléphone No 1" } })
                                    @Html.ValidationMessageFor(model => model.tel1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.tel2, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8 ">

                                    @Html.EditorFor(model => model.tel2, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Téléphone No 2" } })
                                    @Html.ValidationMessageFor(model => model.tel2, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.DropDownListFor(model=>model.Province,  new List<SelectListItem>() {
                                        new SelectListItem(){Text = "Choisir votre province",Value=""},
                                        new SelectListItem(){Text = "Québec",Value="QC"},
                                        new SelectListItem(){Text = "Ontario",Value="ON"},
                                        new SelectListItem(){Text = "Alberta",Value="AB"},
                                        new SelectListItem(){Text = "Colombie-Britanique",Value="BC"},
                                        new SelectListItem(){Text = "Île-du-prince-Édouard",Value="PE"},
                                        new SelectListItem(){Text = "Manitoba",Value="MB"},
                                        new SelectListItem(){Text = "Nouveau-Brunswick",Value="NB"},
                                        new SelectListItem(){Text = "Nouvelle-Écosse",Value="NS"},
                                        new SelectListItem(){Text = "Saskatchewan",Value="SK"},
                                        new SelectListItem(){Text = "Terre-Neuve-et-Labrador",Value="NL"},
                                        new SelectListItem(){Text = "Nunavut",Value="NU"},
                                        new SelectListItem(){Text = "Territoires du Nord-Ouest",Value="NT"},
                                        new SelectListItem(){Text = "Yukon",Value="YT"},
                                    }, new{ @class = "form-control text-primary"})

                                    @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Ville" } })
                                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.CodePostal, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Code Postal" } })
                                    @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.poidsMax, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.poidsMax, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Poids max pour la livraison" } })
                                    @Html.ValidationMessageFor(model => model.poidsMax, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.prixMinimum, htmlAttributes: new { @class = "text-right w-100" })
                                </div>
                                <div class="form-group col-lg-8">

                                    @Html.EditorFor(model => model.prixMinimum, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Prix minimum pour une livraison graduite" } })
                                    @Html.ValidationMessageFor(model => model.prixMinimum, "", new { @class = "text-danger" })



                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">


                                </div>
                                <div class="form-group col-lg-8">
                                    <input type="checkbox" name="taxe" tabindex="16" id="taxe" checked>
                                    <label for="taxe"> Le client doit payer la TPS et la TVQ</label>



                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-6 col-sm-offset-3">
                                    <br />
                                    <input type="submit" name="register-submit" id="register-submitVendeur" tabindex="17" class="btn btn-lg btn-primary btn-block btn-rounded z-depth-0 my-4 waves-effect" value="S'inscrire maintenant">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6 col-sm-offset-3">
                                    <br />
                                    @Html.ActionLink("S'inscrire en tant que client", "InscriptionClient")
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6 col-sm-offset-3 ">
                                    <br />
                                    @Html.ActionLink("Retourner au menu", "Index")
                                </div>
                            </div>

                        </form>


                    </div>


                </div>
            </div>
        </div>
    </div>
}