@model PetitesPuces.Models.Client

@{
    ViewBag.Title = "Inscription Client";
}



@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/Connexion/Index.css")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/InscriptionEtConnexion/InscriptionClient.js")"></script>
   
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">

                                @Html.ActionLink("Se connecter", "Connexion", new { id = "login-form-link", @class = "active" })

                            </div>
                            <div class="col-xs-6">

                                <a href="#" id="register-form-link" class="active">S'inscrire</a>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">


                                <form id="register-form" method="post" role="form" class="text-left">
                                    <h3 class=" text-center">S'inscrire en tant que client</h3>
                                    <br />
                                    <div class="form-row">
                                        @Html.LabelFor(model => model.AdresseEmail, htmlAttributes: new { @class = "col-md-6 col-lg-offset-3" })
                                        <div class="col-md-6 col-lg-offset-3">
                                            @Html.EditorFor(model => model.AdresseEmail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AdresseEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "col-md-6 col-lg-offset-3" })
                                        <div class="col-md-6 col-lg-offset-3">
                                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "col-md-6 col-lg-offset-3" })
                                        <div class="col-md-6 col-lg-offset-3">
                                            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "col-md-6 col-lg-offset-3" })
                                        <div class="col-md-6 col-lg-offset-3">
                                            @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-row">

                                        @Html.LabelFor(model => model.confirmationMDP, htmlAttributes: new { @class = "col-md-6 col-lg-offset-3" })
                                        <div class="col-md-6 col-lg-offset-3">
                                            @Html.EditorFor(model => model.confirmationMDP, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.confirmationMDP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <br />
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="5" class="btn btn-lg btn-primary btn-block" value="S'inscrire maintenant">
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <br />
                                                @Html.ActionLink("S'inscrire en tant que vendeur", "InscriptionVendeur")
                                            </div>
                                        </div>
                                    </div>


                                </form>


                                @Html.ActionLink("Retourner au menu", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}