@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

<form>
    <div class="row" style="margin: 1px">
        
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h4>Information personnelle</h4>
                    <hr/>
                    <p>@InfoCommande.InfoClient.nom, @InfoCommande.InfoClient.nom</p>
                    <p>@InfoCommande.InfoClient.rue, @InfoCommande.InfoClient.province, Canada</p>
                    <p>@InfoCommande.InfoClient.codePostal</p>
                    <p>@InfoCommande.InfoClient.telephone</p>
                    @if (InfoCommande.InfoClient.cellulaire != null)
                    {
                        <p>@InfoCommande.InfoClient.cellulaire</p>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h4>Information sur le mode de paiement</h4>
                    <hr/>
                    <p>XXXX XXXX XXXX @InfoCommande.InfoPaiement.NoCarteCredit.Tail(4)</p>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr/></div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-danger"onclick="previous()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="next()">Passer la commande</button>
        </div>
    </div>
</form>
<script>
    function next(){
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function previous(){
        $('#Confirmation').removeClass('active');
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
                "noVendeur":@Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>