@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

@{
    ViewBag.Title = "Commander";
    decimal SousTotal = Model.getPrixTotal();
    decimal FraisLivraison = (decimal)InfoCommande.PrixLivraison;
    decimal TPS = Model.GetTPS(FraisLivraison);
    decimal TVQ = Model.GetTVQ(FraisLivraison);

    decimal PrixTotal = SousTotal + FraisLivraison + TPS + TVQ;
    string dateExpiration = InfoCommande.InfoPaiement.DateExpirationCarteCredit.Substring(0,2)+"-20"+InfoCommande.InfoPaiement.DateExpirationCarteCredit.Tail(2);
    string strPrixTotal = PrixTotal.ToString("0.00").Replace(',','.');
    
    string URL = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}

<div class="row">
        <div class="col-md-9">
            <div class="row">
                @Html.Partial("Client/Commande/_ProduitsInformation",Model)
            </div>
            <form>
                <div class="row" style="margin: 1px">
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Information personnelle</h4>
                                <hr/>
                                <p>@InfoCommande.InfoClient.nom, @InfoCommande.InfoClient.nom</p>
                                <p>@InfoCommande.InfoClient.rue, @InfoCommande.InfoClient.province, Canada</p>
                                <p>@InfoCommande.InfoClient.codePostal</p>
                                <p>@InfoCommande.InfoClient.telephone</p>
                                @if (InfoCommande.InfoClient.cellulaire != null)
                                {
                                    <p>@InfoCommande.InfoClient.cellulaire</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Information sur le mode de paiement</h4>
                                <hr/>
                                <p>XXXX XXXX XXXX @InfoCommande.InfoPaiement.NoCarteCredit.Tail(4)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><hr/></div>
                    <div class="col-md-4 col-lg-offset-5">
                        <button type="button" class="btn btn-danger" onclick="previous()">Retour</button>
                        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#confirmationCommande">Passer la commande</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            @Html.Partial("Client/Commande/_RecapitulatifCommande", Model)
        </div>
    </div>
<!-- Modal confirmation -->
<div class="modal fade" id="confirmationCommande" tabindex="-1" role="dialog" aria-labelledby="confirmationCommande" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir commander ces articles?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="https://personnel.lmbrousseau.info/lesi-2019/lesi-effectue-paiement.php">
                    <input hidden type="text" name="NoVendeur" value="@InfoCommande.Vendeur.No"/>
                    <input hidden type="text" name="NomVendeur" value="@InfoCommande.Vendeur.NomAffaires"/>
                    
                    <input hidden type="text" name="NoCarteCredit" value="@InfoCommande.InfoPaiement.NoCarteCredit.RemoveWhitespace()"/>
                    <input hidden type="text" name="DateExpirationCarteCredit" value="@dateExpiration"/>
                    <input hidden type="text" name="NoSecuriteCarteCredit" value="@InfoCommande.InfoPaiement.NoSecuriteCarteCredit"/>
                    
                    <input hidden type="text" name="MontantPaiement" value="@strPrixTotal"/>
                    <input hidden type="text" name="NomPageRetour" value="@URL@Url.Action("ConfirmationPaiement","Client")"/>
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-primary" value="Confirmer"/>
                </form>              
            </div>
        </div>
    </div>
</div>
<script>
    function Confirmer(){
        $.ajax({
            url: URLPATH + "/Client/PasserCommande",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#ConfirmationPLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }

    function previous(){
        $('#Confirmation').removeClass('active');
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
                "noVendeur":@Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>