@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

@{
    ViewBag.Title = "Commander";
    decimal SousTotal = Model.getPrixTotal();
    decimal FraisLivraison = (decimal)InfoCommande.PrixLivraison;
    decimal TPS = (SousTotal + FraisLivraison) * (decimal) 0.05;
    decimal TVQ = (SousTotal + FraisLivraison) * (decimal) 0.09975;

    decimal PrixTotal = SousTotal + FraisLivraison + TPS + TVQ;
}

<div class="row">
        <div class="col-md-9">
            <div class="row">
                @Html.Partial("Client/Commande/_ProduitsInformation",Model)
            </div>
            <form>
                <div class="row" style="margin: 1px">
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Information personnelle</h4>
                                <hr/>
                                <p>@InfoCommande.InfoClient.nom, @InfoCommande.InfoClient.nom</p>
                                <p>@InfoCommande.InfoClient.rue, @InfoCommande.InfoClient.province, Canada</p>
                                <p>@InfoCommande.InfoClient.codePostal</p>
                                <p>@InfoCommande.InfoClient.telephone</p>
                                @if (InfoCommande.InfoClient.cellulaire != null)
                                {
                                    <p>@InfoCommande.InfoClient.cellulaire</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Information sur le mode de paiement</h4>
                                <hr/>
                                <p>XXXX XXXX XXXX @InfoCommande.InfoPaiement.NoCarteCredit.Tail(4)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><hr/></div>
                    <div class="col-md-4 col-lg-offset-5">
                        <button type="button" class="btn btn-danger" onclick="previous()">Retour</button>
                        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#confirmationCommande">Passer la commande</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-heading">Récapitulaif (@Model.GetNbItems()): </div>
                <div class="panel-body">
                    <div class="h4">
                        <p class="row">
                            <div class="col-xs-6">Articles :</div>    
                            <div class="col-xs-6">@Formatter.Money(SousTotal)</div></p>
                        <p class="row">
                            <div class="col-xs-6">Livraison :</div>
                            <div class="col-xs-6">@Formatter.Money(FraisLivraison)</div></p>

                        <div class="row">
                            <br/><hr/>
                        </div>

                        <p class="row">
                            <div class="col-xs-6">Sous total:</div>
                            <div class="col-xs-6"> @Formatter.Money(SousTotal+FraisLivraison)</div></p>
                        <p class="row">
                            <div class="col-xs-6">TPS :</div>
                            <div class="col-xs-6"> @Formatter.Money(TPS)</div></p>
                        <p class="row">
                            <div class="col-xs-6">tvq :</div>
                            <div class="col-xs-6"> @Formatter.Money(TVQ)</div></p>

                        <div class="row">
                            <br/><hr/>
                        </div>
                        <p class="row">
                            <div class="col-xs-6">Montant total: :</div>
                            <div class="col-xs-6"> @Formatter.Money(PrixTotal)</div></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal confirmation -->
<div class="modal fade" id="confirmationCommande" tabindex="-1" role="dialog" aria-labelledby="confirmationCommande" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir commander ces articles?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" onclick="PasserCarte()" data-dismiss="modal" class="btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<script>
    function Confirmer(){
        $.ajax({
            url: URLPATH + "/Client/PasserCommande",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#ConfirmationPLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function PasserCarte() {
        var URL = "https://personnel.lmbrousseau.info/lesi-2019/lesi-effectue-paiement.php";
        $.ajax({
            url: URL,
            type: "POST",
            data: {
                NoVendeur : @InfoCommande.Vendeur.NoVendeur,
                NomAffaires : @InfoCommande.Vendeur.NomAffaires,
                NoCarteCredit : @InfoCommande.InfoPaiement.NoCarteCredit,
                DateExpirationCarteCredit : @InfoCommande.InfoPaiement.DateExpirationCarteCredit,
                NoSecuriteCarteCredit : @InfoCommande.InfoPaiement.NoSecuriteCarteCredit,
                MontantPaiement : @PrixTotal,
                NomPageRetour : "https://personnel.lmbrousseau.info/lesi-2019/lesi-effectue-paiement.php"              
            },
            success: Confirmer,
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function previous(){
        $('#Confirmation').removeClass('active');
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
                "noVendeur":@Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>