@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

<form>
    <div class="row" style="margin: 1px">
        
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h4>Information sur la livraison</h4>
                    <hr/>
                    <p>@Model.Client.Nom, @Model.Client.Prenom</p>
                    <p>@Model.Client.Rue, @Model.Client.Province, @Model.Client.Pays</p>
                    <p>@Model.Client.CodePostal</p>
                    <p>@Model.Client.AdresseEmail</p>
                    <p>@Model.Client.Tel1</p>
                    <p>@Model.Client.Tel2</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h5>Information sur le mode de paiement</h5>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr/></div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-danger"onclick="previous()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="next()">Passer la commande</button>
        </div>
    </div>
</form>
<script>
    function next(){
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function previous(){
        $('#Confirmation').removeClass('active');
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>