@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model Panier

<div class="col-md-12">
    <div class="well">
        <table class="table table-hover">
            <thead>
            <td>Nom</td>
            <td>Poids (lbs)</td>
            <td>Prix unitaire</td>
            <td>Quantité</td>
            <td>Prix</td>
            </thead>
            @foreach (PPArticlesEnPanier article in @Model.Articles)
            {
                var poidsTotal = article.PPProduit.Poids * article.NbItems;
                <tr>
                    <td>@article.PPProduit.Nom</td>
                    <td style="text-align: right">@poidsTotal</td>   
                    <td>@Formatter.PrixProduitAvecVente(@article.PPProduit)</td>
                    <td style="text-align: right">x @article.NbItems</td>
                    <td>@Formatter.Money(@article.PPProduit.GetPrixCourant() * @article.NbItems)</td>                           
                </tr>
            }
            <hr/>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@Formatter.Money(Model.getPrixTotal())</td>                              
            </tr>
        </table>
    </div>
</div>