@using PetitesPuces.Models
@using PetitesPuces.Utilities
@model Panier

@{
    ViewBag.Title = "Commander";
    decimal SousTotal = Model.getPrixTotal();
    decimal FraisLivraison = InfoCommande.PrixLivraison??0;

    decimal TPS = Model.GetTPS(FraisLivraison);
    decimal TVQ = Model.GetTVQ(FraisLivraison);

    decimal PrixTotal = SousTotal + FraisLivraison + TPS + TVQ;
}


<div class="panel panel-primary">
    <div class="panel-heading">Récapitulaif (@Model.GetNbItems()): </div>
    <div class="panel-body">
        <div class="h4">
            <p class="row">
                <div class="col-xs-6">Articles :</div>    
                <div class="col-xs-6">@Formatter.Money(SousTotal)</div></p>
            <p class="row">
                <div class="col-xs-6">Livraison :</div>
                <div class="col-xs-6">@Formatter.Money(FraisLivraison)</div></p>

            <div class="row">
                <br/><hr/>
            </div>

            <p class="row">
                <div class="col-xs-6">Sous total:</div>
                <div class="col-xs-6"> @Formatter.Money(SousTotal+FraisLivraison)</div></p>
            @if (Model.Vendeur.Province == "QC")
            {               
                <p class="row">
                    <div class="col-xs-6">tvq :</div>
                    <div class="col-xs-6"> @Formatter.Money(TVQ)</div></p>
            }

            <p class="row">
                <div class="col-xs-6">TPS :</div>
                <div class="col-xs-6"> @Formatter.Money(TPS)</div></p>

            <div class="row">
                <br/><hr/>
            </div>
            <p class="row">
                <div class="col-xs-6">Montant total: :</div>
                <div class="col-xs-6"> @Formatter.Money(PrixTotal)</div></p>
        </div>
    </div>
</div>