@model List<PetitesPuces.Models.Panier>

@{
    ViewBag.Title = "Gestion des paniers";
}

<h2 class="text-center">@ViewBag.Title</h2>

<h3 class="col-xs-12 text-center">Tous les paniers</h3>
<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Panier existe depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="periodeClient" value="1" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="periodeClient" value="2" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="periodeClient" value="3" autocomplete="off" /> 3
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="periodeClient" value="6" autocomplete="off" /> 6
            </label>
            <strong class="mx-1">Mois</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="periodeClient" value="99" autocomplete="off" /> Toujours
            </label>
        </div>
    </div>
    <table class="table lst-vendeurs mt-2 bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NbItems)
            </th>
            <th>
                Total
            </th>
        </tr>
        @foreach (var panier in Model)
        {
            if (panier.DateCreation > DateTime.Today.AddMonths(-1))
            {
                @Html.Partial("Vendeur/_Panier", panier)
            }
        }
    </table>
</div>

<h3 class="col-xs-12 text-center">Ménage des paniers</h3>
<div class="well text-center col-xs-10 col-xs-offset-1">
    <table class="table lst-vendeurs mt-2 bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NbItems)
            </th>
            <th>
                Total
            </th>
            <th>
            </th>
        </tr>
        @foreach (var panier in Model)
        {
            if (panier.DateCreation < DateTime.Today.AddMonths(-6))
            {
                @Html.Partial("Vendeur/_Panier", panier)
            }
        }
    </table>
</div>