@model List<PetitesPuces.Models.Panier>

@{
    ViewBag.Title = "Gestion des paniers";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Vendeur/Index.css")" />
}

<h2 class="text-center">@ViewBag.Title</h2>

<h3 class="col-xs-12 text-center">Tous les paniers</h3>
<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Panier existe depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" onclick="visualiser(1)" class="btn btn-default">
                <input type="radio" name="periodeClient" value="1" autocomplete="off" /> 1
            </label>
            <label type="button" onclick="visualiser(2)" class="btn btn-default">
                <input type="radio" name="periodeClient" value="2" autocomplete="off" /> 2
            </label>
            <label type="button" onclick="visualiser(3)" class="btn btn-default">
                <input type="radio" name="periodeClient" value="3" autocomplete="off" /> 3
            </label>
            <label type="button" onclick="visualiser(6)" class="btn btn-default">
                <input type="radio" name="periodeClient" value="6" autocomplete="off" /> 6
            </label>
            <strong class="mx-1">Mois</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" onclick="visualiser(99)" class="btn btn-default">
                <input type="radio" name="periodeClient" value="99" autocomplete="off" /> Toujours
            </label>
        </div>
    </div>
    <div id="PLACEHOLDERPaniersMois">

    </div>
</div>

<h3 class="col-xs-12 text-center">Ménage des paniers</h3>


<div class="well text-center col-xs-10 col-xs-offset-1">
    @if (Model.Count() == 0)
    {
        <h4 class="text-center col-xs-12">Aucun panier plus vieux que 6 mois</h4>
    }
    else
    {
        <table class="table table-hover m-0 bg-light">
            <tr>
                <th class="rowHead">
                    Nom du client
                </th>
                <th>
                    Date de création
                </th>
                <th>
                    Nb d'items
                </th>
                <th>
                    Total
                </th>
                <th>
                </th>
            </tr>
            @foreach (var panier in Model)
            {
                @Html.Partial("Vendeur/_MenagePaniers", panier)
            }
        </table>
    }
</div>

<div class="modal fade" id="confirmationPanier" tabindex="-1" role="dialog" aria-labelledby="confirmationPanier" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="PLACEHOLDERModalDescription" class="modal-content">
            
        </div>
    </div>
</div>

<script>
    function visualiser(NbMois) {
        $.ajax({
            url: URLPATH +"/Vendeur/VisualiserPaniers",
            type: "get",
            data: {
                "NbMois": NbMois
            },
            success: function (result) {
                console.log("success")
                $("#PLACEHOLDERPaniersMois").html(result);
            },
            error: function (req, status, err) {
                console.log("error")
                $("#PLACEHOLDERPaniersMois").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
    function confirmer(NoClient) {
        $.ajax({
            url: URLPATH +"/Vendeur/ConfirmationPanier",
            type: "get",
            data: {
                "NoClient": NoClient
            },
            success: function (result) {
                console.log("success")
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                console.log("error")
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
    function supprimer(NoClient) {
        $.ajax({
            url: URLPATH +"/Vendeur/SuppressionPanier",
            type: "get",
            data: {
                "NoClient": NoClient
            },
            success: function (result) {
                console.log("success")
                window.location.reload();
            },
            error: function (req, status, err) {
                console.log("error")
                $("#PLACEHOLDERPaniersMois").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }

    function infoClient(NoClient) {
        event.stopPropagation();
        $("#confirmationPanier").modal('show');
        $.ajax({
            url: URLPATH +"/Vendeur/InfoClient",
            type: "get",
            data: {
                "id": NoClient
            },
            success: function (result) {
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }

    function infoPanier(NoClient) {
        $("#confirmationPanier").modal('show');
        $.ajax({
            url: URLPATH +"/Vendeur/InfoPanier",
            type: "get",
            data: {
                "id": NoClient
            },
            success: function (result) {
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
</script>