@model List<PetitesPuces.Models.PPCommande>

@{
    ViewBag.Title = "Gestion des commandes";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Vendeur/Index.css")" />
}

<h2 class="text-center">@ViewBag.Title</h2>

<h3 class="text-center col-xs-12">Commandes non traitées</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    @if (Model.Where(x => x.Statut == 'T').Count() == 0)
    {
        <h4 class="text-center col-xs-12">Aucune commande à traiter</h4>
    }
    else
    {
        <table class="table m-0">
            <tr>
                <th class="rowHead">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NoCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PPClient.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DateCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CoutLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TypeLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PoidsTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().MontantTotAvantTaxes)
                </th>
                <th>

                </th>
            </tr>
        </table>
        <div class="tableau">
            <table class="table text-right">
                @foreach (var commande in Model)
                {
                    if (commande.Statut == 'T')
                    {
                        @Html.Partial("Vendeur/_Commande", commande);
                    }
                }
            </table>
        </div>
    }
</div>

<h3 class="text-center col-xs-12">Historique des commandes</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    @if (Model.Where(x => x.Statut == 'L').Count() == 0)
    {
        <h4 class="text-center col-xs-12">Aucun historique de commandes</h4>
    }
    else
    {
        <table class="table m-0">
            <tr>
                <th class="rowHead">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NoCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PPClient.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DateCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CoutLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TypeLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PoidsTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().MontantTotAvantTaxes)
                </th>
                <th>

                </th>
            </tr>
        </table>
        <div class="tableau">
            <table class="table text-right">
                @foreach (var commande in Model)
                {
                    if (commande.Statut == 'L')
                    {
                        @Html.Partial("Vendeur/_Commande", commande);
                    }
                }
            </table>
        </div>
    }
</div>
@Html.Partial("Vendeur/_ConfirmationLivraison")