@model PetitesPuces.ViewModels.Vendeur.AccueilVendeurViewModel
@{
    ViewBag.Title = "Page d'accueil";
    ViewBag.Page = "Index";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Vendeur/Index.css")" />
}

<script>
    function visualiser(NoCommande) {
        $.ajax({
            url: URLPATH +"/Vendeur/ConfirmationLivraison",
            type: "get",
            data: {
                "NoCommande": NoCommande
            },
            success: function (result) {
                $("#PLACEHOLDERModalDescription").html(result);
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }

    function livrer(NoCommande) {
        $.ajax({
            url: URLPATH+"/Vendeur/Livraison",
            type: "get",
            data: {
                "NoCommande": NoCommande
            },
            success: function (result) {
                window.location.reload();
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html("@Html.Partial("_ErrorAlert")");
            }
        });
    }
</script>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@ViewBag.Title</h1>
        <h4>Nombre de visiteurs: @Model.NbVisites</h4>
    </div>
</div>

<h3 class="text-center col-xs-12">Commandes non traitées</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    @if (Model.Commandes.Count == 0)
    {
        <h4 class="text-center col-xs-12">Aucune commande à traiter</h4>
    }
    else
    {
        <table class="table m-0">
            <tr>

                <th class="rowHead">
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().NoCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().PPClient.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().DateCommande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().CoutLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().TypeLivraison)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().PoidsTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandes.FirstOrDefault().MontantTotAvantTaxes)
                </th>
                <th>

                </th>

            </tr>
        </table>
        <div class="tableau">
            <table class="table text-right">
                @foreach (var commande in Model.Commandes)
                {
                    if (commande.Statut == 'T')
                    {@Html.Partial("Vendeur/_Commande", commande)}
            }
            </table>
        </div>
    }
    <div class="text-left mt-2">
        <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("GestionCommandes", "Vendeur" )'">Gérer les commandes</button>
    </div>
</div>

<br />
<h3 class="text-center col-xs-12">Paniers</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <table class="table m-0">
        <tr>
            <th class="rowHead">
                @Html.DisplayNameFor(model => model.Paniers.FirstOrDefault().NomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paniers.FirstOrDefault().DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paniers.FirstOrDefault().NbItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paniers.FirstOrDefault().CoutTotal)
            </th>
        </tr>
    </table>
    <div class="tableau">
        <table class="table text-right">
            @foreach (var panier in Model.Paniers)
            {
                @Html.Partial("Vendeur/_Panier", panier)
            }
        </table>
    </div>
    <div class="text-left mt-2">
        <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("GestionPaniers", "Vendeur" )'">Gérer les paniers</button>
    </div>
</div>

<div class="modal fade" id="confirmationLivraison" tabindex="-1" role="dialog" aria-labelledby="confirmationLivraison" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="PLACEHOLDERModalDescription" class="modal-content">

        </div>
    </div>
</div>