@model PetitesPuces.ViewModels.VMVendeur.CommandesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Page d'accueil";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Vendeur")</li>
    <li>@Html.ActionLink("Commandes", "Commandes", "Vendeur")</li>
    <li>@Html.ActionLink("Mes Paniers", "Paniers", "Vendeur")</li>
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@ViewBag.Title</h1>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Commandes non traitées</div>
    <table class="table table-hover">
        <tr>
            <th># de commande</th>
            <th>Nom du client</th>
            <th>Date</th>
            <th>Type de livraison</th>
            <th>Total avant taxes</th>
            <th>Actions</th>
        </tr>
        @foreach (var commande in Model.Commandes)
        {
            @Html.Partial("Vendeur/_Commande", commande)
        }
    </table>
    <div class="panel-footer">
        <button class="btn btn-outline-primary" onclick="">Gérer les commandes</button>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Paniers courants</div>
    <table class="table table-hover">
        <tr>
            <th>Nom du client</th>
            <th>Date de création</th>
            <th>Nombre d'items</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Antoinette</td>
            <td>26/12/2018</td>
            <td>7</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Vincent</td>
            <td>02/01/2019</td>
            <td>5</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Simon</td>
            <td>06/01/2019</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <button class="btn btn-outline-primary" onclick="">Gérer les paniers</button>
    </div>
</div>

<h4>Nombre de visiteurs: 3</h4>
