@model PetitesPuces.ViewModels.VMVendeur.AccueilVendeurViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Page d'accueil";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Vendeur")</li>
    <li>@Html.ActionLink("Mon catalogue", "Catalogue", "Vendeur")</li>
    <li>@Html.ActionLink("Commandes", "Commandes", "Vendeur")</li>
    <li>@Html.ActionLink("Mes Paniers", "Paniers", "Vendeur")</li>
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@ViewBag.Title</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Commandes non traitées</div>
        <div style="max-height:25vh; overflow:auto">
            <table class="table table-hover" style="max-height:25vh; overflow:auto">
                <tr>
                    <th># de commande</th>
                    <th>Nom du client</th>
                    <th>Date</th>
                    <th>Type de livraison</th>
                    <th>Total avant taxes</th>
                    <th>Actions</th>
                </tr>
                @foreach (var commande in Model.Commandes)
                {
                    @Html.Partial("Vendeur/_Commande", commande)
                }
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-outline-primary" onclick="">Gérer les commandes</button>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Paniers courants</div>
        <div style="max-height:25vh; overflow:auto">
            <table class="table table-hover">
                <tr>
                    <th>Nom du client</th>
                    <th>Date de création</th>
                    <th>Nombre d'items</th>
                    <th>Actions</th>
                </tr>
                @foreach (var panier in Model.Paniers)
                {
                    @Html.Partial("Vendeur/_Panier", panier)
                }
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-outline-primary" onclick="">Gérer les paniers</button>
        </div>
    </div>

    <h4>Nombre de visiteurs: @Model.NbVisites</h4>
</div>